{% extends "survey/survey_base.html" %}
{% load i18n %}
{% block title %}{% trans "Answer of question" %}{% endblock %}
{% block title_in_content %}{% blocktrans trimmed with fullname=participation.user.get_full_name institutional_id=participation.user.institutional_id %}
    {{ fullname }}({{ institutional_id }}){% endblocktrans %}<a href="{% url "relate-view_survey_by_question_pk" course.identifier survey.questionnaire.pk question.pk %}"><i class="fa fa-level-up" aria-hidden="true"></i></a>
{% endblock %}
{% block title_tab %}
    {{ question.text }}
{% endblock %}

{% block content_left %}{% if prev_participation_id %}<h2><a href="{% url "relate-view_single_question" course.identifier survey.pk question.pk prev_participation_id %}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></h2>{% endif %}{% endblock %}
{% block content_right %}{% if next_participation_id %}<h2><a href="{% url "relate-view_single_question" course.identifier survey.pk question.pk next_participation_id %}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></h2>{% endif %}{% endblock %}

{% block content_tab %}
    <form class="form-horizontal" action="{{ request.path }}" method="POST">
        {% csrf_token %}
        {% include "survey/includes/displays/display_single_question.html" %}
        <div class="right-align">
            <button id="submit_this" class="btn btn-primary relate-grading-save-button" type="submit" name="action">{% trans "Save" %}
            </button>
        </div>
    </form>

    <script>
        {% if next_participation_id %}
            var next_session_url = "{% url "relate-view_single_question" course.identifier survey.pk question.pk next_participation_id %}";
        {% else %}
            var next_session_url = null;
        {% endif %}
        {% if prev_participation_id %}
            var prev_session_url = "{% url "relate-view_single_question" course.identifier survey.pk question.pk prev_participation_id %}";
        {% else %}
            var prev_session_url = null;
        {% endif %}


        function save_and_next_page()
    {
      window.open(next_page_url, "_blank");
      $("#submit-id-submit").click();
    }

    function save_and_next_session()
    {
      window.open(next_session_url, "_blank");
      $("#submit_this").click();
    }

    function save_and_prev_session()
    {
      window.open(prev_session_url, "_blank");
      $("#submit_this").click();
    }

    function add_submit_next()
    {
      if (next_session_url)
        $("#submit_this").after(
            " <button class='btn btn-primary relate-grading-save-and-next-session-button' type='button'>"
            + "{% trans "Submit and next user" %} &raquo;"
            + "</button>");
      if (prev_session_url)

        $("#submit_this").before(
            " <button class='btn btn-primary relate-grading-save-and-prev-session-button' type='button' >"
            + " &laquo; {% trans "Submit and previous user" %}"
            + "</button>");
      $("#submit_this").before(" ");

      $(".relate-grading-save-and-next-session-button").click(save_and_next_session);
      $(".relate-grading-save-and-prev-session-button").click(save_and_prev_session);
    }

    $(document).ready(function() {
        add_submit_next();
        });


    </script>
{% endblock %}
