{% extends "survey/survey_base.html" %}
{% load i18n %}
{% block title %}{% if url_questionnaire %} {% trans "Questionnare Created" %} {% else %}Participant{% endif %}{% endblock %}
{% block title_tab %}
{% endblock %}
{% block content_tab %}

    {% if url_questionnaire %}
        <div class="center-align">
            <h2>{% trans "Questionnare successfully created!" %}</h2>
        </div>
    {% else %}
        <h2 class="center-align">{% trans "Finished!" %}</h2>
        <ul>
            <h4 class="text-center">
                <a href="{% url "relate-view_survey_by_pk" course.identifier survey.pk %}" >{% trans "Back to survey book" %}</a>
            </h4>
        </ul>
        <div class="right-align">
            {% if prev_participation_id %}
            <a role="button" class="btn btn-primary left-align"
               href="{% url "relate-view_single_user_survey" course.identifier survey.questionnaire.pk prev_participation_id %}">
                {% trans "Survey of previous user" %}
            </a>
                {% endif %}
        {% if next_participation_id %}
            <a role="button" class="btn btn-primary right-align"
               href="{% url "relate-view_single_user_survey" course.identifier survey.questionnaire.pk next_participation_id %}">
                {% trans "Survey of next user" %}
            </a>
            {% endif %}
        </div>

    {% endif %}

{% endblock %}