/* https://jsfiddle.net/yoshi6jp/BVV5T/ */

.modal-dialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 10px;
}

.modal-sm {
    max-width: 300px;
}

.modal-lg {
    max-width: 900px;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 30px auto;
    }
}

@media (min-width: 320px) {
    .modal-sm {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 620px) {
    .modal-dialog {
        margin-right: auto;
        margin-left: auto;
    }

    .modal-lg {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 920px) {
    .modal-lg {
        margin-right: auto;
        margin-left: auto;
    }
}

/*---------------------------*/

#editModal .modal-lg .img-container,
#editModal .preview_container {
    width: 100%;
    max-height: 600px;
    margin: 0;
}

#editModal .img-container img,
#editModal .preview_container canvas {
    max-width: 100%;
    /*max-height: 100%;*/
}

#editModal .modal-lg .modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 630px;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    #editModal .modal-footer > button > span {
        display: none;
    }

    #editModal {
        max-width: 100vw;
        max-height: 100vh;
    }

    .relate-interaction-container {
        padding: 0;
    }

    #editModal .img-container,
    #editModal .preview_container {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #editModal .modal-body {
        position: relative;
        overflow-y: auto;
        height: 95vw;
        padding: 15px;
    }

    .fileUploadCompactInfo > p {
        overflow-wrap: break-word;
    }
    }


    [class*=" fa-sort"] {
        display: inline-block;
        width: 100%;
    }
    td i {
        text-align:center;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {

    #editModal .modal-body {
        position: relative;
        overflow-y: auto;
        height: calc(95vh - 65px);
        padding: 15px;
    }

}

.latexpage-error pre {
    background-color: #eee;
    overflow: auto;
    margin: 0 0 1em;
    padding: .5em 1em;
}

/*pre code,*/
/*pre .line-number {*/
/*!* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! *!*/
/*font:normal normal 12px/14px "Courier New",Courier,Monospace;*/
/*color:black;*/
/*display:block;*/
/*}*/

.latexpage-error pre .line-number {
    float: left;
    margin: 0 1em 0 -1em;
    border-right: 1px solid;
    text-align: right;
}

.latexpage-error pre .line-number span {
    display: block;
    padding: 0 .5em 0 1em;
}

.latexpage-error pre .cl {
    display: block;
    clear: both;
}