.img-container,
.preview_container {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.img-container img,
.preview_container canvas {
    max-width: 100%;
}

@media (max-width: 767px) {
    .modal-footer > button >span,
    h1, h2, h3, p {overflow-wrap: break-word;}
    #fileupload > table > tbody > * > td:nth-child(2) > p,
    #fileupload > table > tbody > * > td:nth-child(3),
    .btn-control > span
    {
        display: none;
    }

    div.progress-extended{
        display: none;
    }
}

.latexpage-error pre {
    background-color:#eee;
    overflow:auto;
    margin:0 0 1em;
    padding:.5em 1em;
}

/*pre code,*/
/*pre .line-number {*/
/*!* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! *!*/
/*font:normal normal 12px/14px "Courier New",Courier,Monospace;*/
/*color:black;*/
/*display:block;*/
/*}*/

.latexpage-error pre .line-number {
    float:left;
    margin:0 1em 0 -1em;
    border-right:1px solid;
    text-align:right;
}

.latexpage-error pre .line-number span {
    display:block;
    padding:0 .5em 0 1em;
}

.latexpage-error pre .cl {
    display:block;
    clear:both;
}