{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
  <h1>{% trans "User Profile" %}</h1>
  <div class="well">
    {% crispy user_form %}
  </div>
  <div class="well">
    <a href="{% url 'relate-logout' %}" class="btn btn-default col-lg-offset-2">{% trans "Sign out" %}</a>
  </div>


<script type="text/javascript">

    // toggle widget
    var url=window.location.href;
    var sub="?first_login=1";    
    if (url.indexOf(sub)==-1){
        disable_widget_noid();
    }
    else{
        if ($("#id_institutional_id").val().length > 0)
        {$('#id_institutional_id').prop('disabled', true);}
        //console.log("in")
    };
    
    function disable_widget_noid(){
            $('#div_id_confirm_institutional_id').hide();
            $('#id_institutional_id').prop('disabled', true);
            $("#id_no_institutional_id").prop('checked', true);
    }
        
    function enable_widget_noid(){
            $('#div_id_confirm_institutional_id').show();
            $('#id_institutional_id').prop('disabled', false);            
    }


    $(document).on('click', '#id_no_institutional_id', function(event) {
        // $this will contain a reference to the checkbox
        if (this.checked) {
            disable_widget_noid();
            $('#id_institutional_id').val("");
            $('#id_confirm_institutional_id').val("")
        } else {
            enable_widget_noid();
        }
    });
    
    
    // ajax form submit
    
    var profile_form = '#profile-form';
    
    $(document).on('submit', profile_form, function(event){
        event.preventDefault();
        sumbit_ajax();
    });

    function sumbit_ajax() {
        console.log("create post is working!") // sanity check
        $.ajax({
            url : "{% url 'relate-profile_form_submit' %}", // the endpoint
            type : "POST", // http method
            data : $(profile_form).serialize(), // data sent with the post request
            success: function(data) {
                if (!(data['success'])) {
                    $(profile_form).replaceWith(data['form_html']);
                }
                else {
                    $('#div_id_confirm_institutional_id').hide();                    
                    $('#id_institutional_id').prop('disabled', true);
                    if ($("#id_institutional_id").val().length > 0){
                        $('#div_id_no_institutional_id').hide();}
                    else{
                        $("#id_no_institutional_id").prop('checked', true);
                    };
                };
            },
//            error: function (data) {
//                $(profile_form).replaceWith(data['form_html']);
//            }
        })
//        .done(function(data) {
//          //$(profile_form).replaceWith(data['form_html']);
//        });
    };
    
    
    

</script>
{% endblock %}
