[Unit]
Description=Celery workers for RELATE
After=network.target

[Service]
Type=forking
User=www-data
Group=www-data

WorkingDirectory=/home/course/relate

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/celery
ExecStartPre=/bin/chown -R www-data:www-data /var/run/celery/
ExecStartPre=-/bin/rm /var/run/celery/celery.pid

ExecStart=/home/course/my-relate-env/bin/celery multi start worker \
    -A relate --pidfile=/var/run/celery/celery.pid \
    --logfile=/var/log/celery/celery.log --loglevel="INFO"
ExecStop=/home/course/my-relate-env/bin/celery multi stopwait worker \
    --pidfile=/var/run/celery/celery.pid

Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target