# For django-ckeditor
# django-ckeditor

# For django jquery file upload
git+https://github.com/dzhuang/django-jfu.git

# For generating thumbnail
django-imagekit

# For serving permissions associated files
django-sendfile

# For Class Based View mixins
django-braces