{% extends "course_statistics/survey_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans trimmed with fullname=participation.user.get_full_name institutional_id=participation.user.institutional_id survey_title=survey.questionnaire.title %}
    Full survey "{{ survey_title }}" of Participant {{ fullname }}({{ institutional_id }}){% endblocktrans %}{% endblock %}
{% block title_in_content %}{% blocktrans trimmed with fullname=participation.user.get_full_name institutional_id=participation.user.institutional_id %}
    {{ fullname }}({{ institutional_id }}){% endblocktrans %}
    <a href="{% url "relate-view_survey_by_pk" course.identifier survey.pk %}"><i class="fa fa-level-up" aria-hidden="true"></i></a>
{% endblock %}
{% block title_tab %}{% blocktrans trimmed with fullname=participation.user.get_full_name institutional_id=participation.user.institutional_id title=survey.questionnaire.title %}
    Full survey: {{ title }}
    {% endblocktrans %}
{% endblock %}

{% block content_tab %}
    <form class="form-horizontal" action="{{ request.path }}" method="POST">
        {% csrf_token %}
        {% include "course_statistics/includes/displays/display_questionnaire.html" %}
        <div class="right-align">
            <button class="btn waves-effect waves-light " type="submit" name="action">{% trans "Save" %}
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
{#    <script>#}
{#          function on_input_change(evt)#}
{#          {#}
{#            input_changed = true;#}
{#          }#}
{##}
{#          $(":checkbox").on("change", on_input_change);#}
{#          $(":radio").on("change", on_input_change);#}
{#          $(":text").on("change", on_input_change);#}
{#          $("textarea").on("change", on_input_change);#}
{##}
{#          $(window).on('beforeunload',#}
{#              function()#}
{#              {#}
{#                if (input_changed)#}
{#                  return "{% trans 'You have unsaved changes on this page.' %}";#}
{#              });#}
{#    </script>#}

{% endblock %}
