{% extends "course/course-base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
  {{ course.number }}
  {% trans "Calendar" %} - {{ relate_site_name }}
{% endblock %}

{% block head_assets_extra %}
  <link rel='stylesheet' href='{% static "fullcalendar/dist/fullcalendar.css" %}'/>
  <script src='{% static "moment/moment.js" %}'></script>
  <script src='{% static "fullcalendar/dist/fullcalendar.js" %}'></script>
  {# load calendar with local language #}
  {% get_current_language as LANGUAGE_CODE %}
  {% if LANGUAGE_CODE != "en" %}
    <script
        src='{% static "fullcalendar/dist/lang/" %}{{ LANGUAGE_CODE |js_lang_fallback:"fullcalendar" }}.js'></script>
  {% endif %}
  {% if pperm.edit_events %}
    <script src='{% static "blueimp-tmpl/js/tmpl.min.js" %}'></script>
  {% endif %}

  <style>
    {#.mode-toggle {#}
    {#  opacity: 0.7;#}
    {#}#}
    .mode-toggle[data-edit-mode=off] {
      display: none;
    }
  </style>

{% endblock %}

{% block content %}
  <h1>{{ course.number }} {% trans "Calendar" %}</h1>
  {% if pperm.edit_events %}
    <div>
      <button class="btn btn-primary" id="toggle-calendar-view">
          <span id="switch-to-normal" {{ is_edit_mode|yesno:"on,hidden" }}>
            {% trans "Switch to normal view" %}
          </span>
          <span id="switch-to-edit" {{ is_edit_mode|yesno:"hidden,on" }}>
            {% trans "Switch to edit view" %}
          </span>
      </button>

      <button class="btn btn-default btn-md mode-toggle" data-toggle="modal"
              data-target='#{{ new_event_form.modal_id }}' data-edit-mode="{{ is_edit_mode|yesno:"on,off" }}"
      >{% trans "New event" %}</button>

      <button class="btn btn-default btn-md mode-toggle" data-toggle="modal"
              data-target="#{{ recurring_events_form.modal_id }}" data-edit-mode="{{ is_edit_mode|yesno:"on,off" }}"
      >{% trans "Create recurring events" %}</button>

      <button class="btn btn-default btn-md mode-toggle" data-toggle="modal"
              data-target="#{{ renumber_events_form.modal_id }}" data-edit-mode="{{ is_edit_mode|yesno:"on,off" }}"
      >{% trans "Renumber events" %}</button>
    </div>
  {% endif %}
  <div id="course-cal" style="margin-top:3em"></div>

  <b class="relate-calendar-notes">{% trans "Note" %}:</b>
  {% trans "Some calendar entries are clickable and link to entries below." %}
  {% if pperm.edit_events %}
    <span data-edit-mode="{{ is_edit_mode|yesno:"on,off" }}" class="mode-toggle">
      ({% trans "Different from normal view, this calender shows <b>all</b> events. " %})</span>
  {% endif %}

  <div id="relate-event-info" style="margin-top:3ex"></div>

  {% if pperm.edit_events %}
    {{ new_event_form_ajax_html }}
    {{ recurring_events_form_ajax_html }}
    {{ renumber_events_form_ajax_html }}

    <div id="div-id-relate-delete-event-form"></div>
    <div id="div-id-relate-update-event-form"></div>
  {% endif %}

{% endblock %}

{% block page_bottom_javascript_extra %}
  <script type="text/javascript">
    var $courseCal = $('#course-cal'),
      $relateEventInfo = $('#relate-event-info');


    {% if pperm.edit_events %}
      var switchToNormalModeButtonText = $("#switch-to-normal").text(),
        switchToEditViewModeButtonText = $("#switch-to-edit").text(),
        fetchUrl = '{% url "relate-fetch_event_json" course.identifier is_edit_mode|yesno:"1,0" %}';
    {% else %}
      var fetchUrl = '{% url "relate-fetch_event_json" course.identifier "0" %}';
    {% endif %}

    $(document).ready(function () {
      $courseCal.fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        contentHeight: "auto",
        defaultDate: '{{ default_date }}',
        defaultView: $(window).width() < 765 ? 'agendaWeek' : 'month',
        timezone: "local",
        {% if pperm.edit_events and is_edit_mode %}
          editable: true,
          selectable: true,
        {% endif %}
        events: function (start, end, timezone, callback) {
          $.ajax({
            url: fetchUrl,
            success: function (result) {
              $relateEventInfo.empty();
              var events_info_html = result.events_info_html;
              {% if pperm.edit_events %}
                {# Add data-edit-mode attribute to event_info #}
                {# which are not expected to display in normal view #}
                {# so that they will be hidden when not in edit mode #}
                var div= document.createElement('div'), infoList;
                div.innerHTML= events_info_html;
                infoList = div.querySelectorAll(".mode-toggle");
                for (var i = 0; i < infoList.length; i++) {
                  infoList[i].setAttribute('data-edit-mode', getCurrentMode());
                }
                events_info_html = div.innerHTML;
              {% endif %}
                $relateEventInfo.html(events_info_html);

                {# use events_json as eventSource #}
                callback(result.events_json);
              }
            })
          },
        {% if pperm.edit_events %}
          eventMouseover: function (event, jsEvent, view) {
            if (!isEditMode())
              return;
            var deleteIconHtml = tmpl("delete-event-icon-template"),
              editIconHtml = tmpl("edit-event-icon-template");
            $('.fc-content', $(this)).append(deleteIconHtml).append(editIconHtml);
            $('.relate-delete-event', $(this)).on('click', function (eve) {
              eve.preventDefault();
              {# use ajax to get the HTML of delete event form #}
              $.ajax({
                url: event.delete_form_url,
                success: function (data, textStatus, jqXHR) {
                  $("#div-id-relate-delete-event-form").html(data.form_html);
                  $("#delete-event-modal")
                    .find("form")
                    .prop("action", event.delete_url)
                    .end()
                    .modal('show')
                    .find("form")
                    .on('submit', function (e) {
                      e.preventDefault();
                      postModalForm($(this));
                    });
                },
                error: function (data, textStatus, jqXHR) {
                  djangoMessage(data.error, "error")
                }
              });
            });

            $('.relate-update-event', $(this)).on('click', function (eve) {
              eve.preventDefault();
              {# use ajax to get the HTML of update event form #}
              $.ajax({
                url: event.update_form_url,
                success: function (data, textStatus, jqXHR) {
                  $("#div-id-relate-update-event-form")
                    .html(data.form_html);
                  $("#update-event-modal")
                    .find("form")
                    .prop("action", event.update_url)
                    .end()
                    // intialize datetime picker
                    // Fixme: the script inserted dynamically won't add the callback
                    // so we currently hard code the option here.
                    .find("#id_update-time_pickers").datetimepicker({
                      format: "YYYY-MM-DD HH:mm", locale: '{{ LANGUAGE_CODE |js_lang_fallback:"momentjs" }}'},
                      )
                    .end()
                    .find("#id_update-end_time_pickers").datetimepicker({
                      format: "YYYY-MM-DD HH:mm", locale: '{{ LANGUAGE_CODE |js_lang_fallback:"momentjs" }}'},
                      )
                    .end()
                    .modal('show')
                    .find("form")
                    .on('submit', function (e) {
                      e.preventDefault();
                      postModalForm($(this));
                    });
                },
                error: function (data, textStatus, jqXHR) {
                  djangoMessage(data.error, "error")
                }
              });
            });
          },
          eventMouseout: function (event, jsEvent, view) {
            if (!isEditMode())
              return;
            $(".relate-event-hover", $(this)).remove();
          },
        {% endif %}
      });
    });

    {% if pperm.edit_events %}
      var toggleButton = document.getElementById("toggle-calendar-view"),
        toggleMode = function (elem, one, two) {
          var nodeList = document.querySelectorAll(elem), newMode;
          for (var i = 0; i < nodeList.length; i++) {
            var node = nodeList[i];
            if (newMode === undefined)
              newMode = node.getAttribute('data-edit-mode') === one ? two : one;
            node.setAttribute('data-edit-mode', newMode);
          }
          return newMode
        };
      toggleButton.onclick = function (e) {
        var editMode = toggleMode('.mode-toggle', "on", "off");

        $(this).text(editMode==="on"? switchToNormalModeButtonText: switchToEditViewModeButtonText);

        $courseCal.fullCalendar('option', {
          editable: editMode === "on",
          selectable: editMode === "on"
        });
        e.preventDefault();
      };

      function isEditMode(){
        return $('.mode-toggle[data-edit-mode=on]').length > 0
      }

      function getCurrentMode(){
        return isEditMode() ? "on" : "off";
      }

      function postModalForm(form) {
        var self = form,
          url = self.attr("action"),
          form_data = self.serialize();
        $.ajax({
          url: url,
          type: "POST",
          data: form_data,
          beforeSend: function (xhr, settings) {
            var csrftoken = get_cookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          },
          success: function (data, textStatus, jqXHR) {
            $courseCal.fullCalendar('refetchEvents');
            self.closest('.modal').modal("hide");
            if (data.message)
              djangoMessage(data.message, "success");
          },
          error: function (data, textStatus, jqXHR) {
            clearFormErrors(self);
            var errors = data.responseJSON;
            $.each(errors, function (index, value) {
              if (index === "__all__") {
                applyFormNonFieldError(self, value[0]);
              } else {
                applyFormFieldError(index, value);
              }
            });
          }
        })
      }

      {# reset modal form after close #}
      $('.modal form')
        .closest(".modal")
        .on('hidden.bs.modal', function () {
          var thisForm = $(this).find('form');
          thisForm.trigger('reset');
          clearFormErrors(thisForm);
        })
        .end()
        .on('submit', function (e) {
          e.preventDefault();
          postModalForm($(this));
        });

      function applyFormFieldError(fieldname, error) {
        var input = $("#id_" + fieldname),
          container = $("#div_id_" + fieldname),
          errorMsg = $("<span />").addClass("text-danger help-inline ajax-error").text(error[0]);

        container.addClass("has-error error");
        errorMsg.insertAfter(input);
      }

      function applyFormNonFieldError(form, error) {
        var formGroupLast = $(".form-group:last", $(form)),
          errorMsg = $("<div />")
            .addClass("alert alert-danger ajax-error")
            .html('<i class="fa fa-ban"></i> ' + error);
        if (formGroupLast.length)
          {# in sert non-field errors after last form field #}
          errorMsg.insertAfter(formGroupLast);

        {# in case no fields are rendered (delete form) #}
        else errorMsg.insertAfter($(form).children().first());
      }

      function clearFormErrors(form) {
        $(".ajax-error", $(form)).remove();
        $(".error", $(form)).removeClass("has-error");
      }

      function djangoMessage(msg, level) {
        var levels = {
            warning: 'alert',
            error: 'error',
            success: 'success',
            info: 'info'
          },
          fontAwesomeClass = {
            warning: 'warning',
            error: 'ban',
            success: 'check',
            info: 'info-circle'
          },
          html = tmpl("django-message-template", {
            "message": msg, "tags": levels[level],
            "icon_class": fontAwesomeClass[level]
          });
        $("#message-area").append(html);
      }

    {% endif %}

  </script>

  {% if pperm.edit_events %}
    <script type="text/x-tmpl" id="django-message-template">
      <div class="alert alert-{{ JQ_OPEN }}=o.tags{{ JQ_CLOSE }} fade in" data-alert="{{ JQ_OPEN }}=o.tags{{ JQ_CLOSE }}">
        <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
        <i class="fa fa-{{ JQ_OPEN }}=o.icon_class{{ JQ_CLOSE }}"></i>
        {{ JQ_OPEN }}=o.message{{ JQ_CLOSE }}
      </div>

    </script>

    <script type="text/x-tmpl" id="delete-event-icon-template">
      <span class="relate-event-hover fc-title glyphicon glyphicon-remove-circle relate-delete-event"
        style="float:right;cursor:pointer" title="{% trans 'Delete event' %}"</span>

    </script>

    <script type="text/x-tmpl" id="edit-event-icon-template">
      <span class="relate-event-hover fc-title glyphicon glyphicon-pencil relate-update-event"
        style="float:right; cursor:pointer" id="edit" title="{% trans 'Edit this event' %}"> </span>

    </script>
  {% endif %}

  {{ block.super }}
{% endblock %}
