{% extends "course/course-base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
  {{ course.number }}
  {% trans "Calendar" %} - {{ relate_site_name }}
{% endblock %}

{% block head_assets_extra %}
  <link rel='stylesheet' href='{% static "fullcalendar/dist/fullcalendar.css" %}'/>
  <script src='{% static "moment/moment.js" %}'></script>
  <script src='{% static "fullcalendar/dist/fullcalendar.js" %}'></script>
  {# load calendar with local language #}
  {% get_current_language as LANGUAGE_CODE %}
  {% if LANGUAGE_CODE != "en" %}
    <script
        src='{% static "fullcalendar/dist/lang/" %}{{ LANGUAGE_CODE |js_lang_fallback:"fullcalendar" }}.js'></script>
  {% endif %}
  {% if pperm.edit_events %}
    <script src='{% static "blueimp-tmpl/js/tmpl.min.js" %}'></script>
  {% endif %}

  <style>
    [data-edit-mode=false] {
      display: none;
    }
    button[data-edit-mode=true] {
      {#display: inherit;#}
      {#background: red;#}
    }
  </style>

{% endblock %}

{% block content %}
  <h1>{{ course.number }} {% trans "Calendar" %}</h1>
  {% if pperm.edit_events %}
    <div>
      <button class="btn btn-primary" id="toggle-calendar-view2">
        <span>toggle old</span>
{#        <span data-edit-mode="true" {% if not is_edit_mode %}hidden{% endif %}>#}
{#          {% trans "Switch to normal view" %}</span>#}
{#        <span data-edit-mode="false" {% if is_edit_mode %}hidden{% endif %}>#}
{#          {% trans "Switch to Edit View" %}</span>#}
      </button>

      <button class="btn btn-primary" id="toggle-calendar-view">
        <span>toggle</span>
        {#        <span data-edit-mode="true" {% if not is_edit_mode %}hidden{% endif %}>#}
        {#          {% trans "Switch to normal view" %}</span>#}
        {#        <span data-edit-mode="false" {% if is_edit_mode %}hidden{% endif %}>#}
        {#          {% trans "Switch to Edit View" %}</span>#}
      </button>

      <button class="btn btn-default btn-md mode-toggle" data-toggle="modal"
              data-target='#{{ new_event_form.modal_id }}' data-edit-mode="true"
              {% if not is_edit_mode %}style="display:none;"{% endif %}
      >{% trans "New event" %}</button>

      <button class="btn btn-default btn-md mode-toggle" data-toggle="modal"
              data-target="#{{ recurring_events_form.modal_id }}" data-edit-mode="true"
              {% if not is_edit_mode %}style="display:none;"{% endif %}
      >{% trans "Create recurring events" %}</button>

      <button class="btn btn-default btn-md mode-toggle" data-toggle="modal"
              data-target="#{{ renumber_events_form.modal_id }}" data-edit-mode="true"
              {% if not is_edit_mode %}style="display:none;"{% endif %}
      >{% trans "Renumber events" %}</button>
    </div>
  {% endif %}
  <div id="coursecal"
       {% if pperm.edit_events %}data-mode="{% if is_edit_mode %}edit{% else %}view{% endif %}{% endif %}"
       style="margin-top:3em"></div>

  <b class="relate-calendar-notes">{% trans "Note" %}:</b>
  {% trans "Some calendar entries are clickable and link to entries below." %}
  {% if pperm.edit_events %}
    <span data-edit-mode="true" class="mode-toggle">
      ({% trans "Different from normal view, this calender shows <b>all</b> events. " %})</span>
  {% endif %}

  <div class="relate-event__toggle" id="relate-event-info" style="margin-top:3ex"></div>

  {% if pperm.edit_events %}
    {{ new_event_form.render_modal_form_html }}
    {{ recurring_events_form.render_modal_form_html }}
    {{ renumber_events_form.render_modal_form_html }}

    <div id="div-id-relate-delete-event-form"></div>
    <div id="div-id-relate-update-event-form"></div>
  {% endif %}

{% endblock %}

{% block page_bottom_javascript_extra %}
  <script type="text/javascript">
    var toggleButton = document.getElementById("toggle-calendar-view");
    var toggleMode = function (elem, one, two) {
      var nodeList = document.querySelectorAll(elem), i;
      for (i = 0; i < nodeList.length; i++) {
        var node = nodeList[i];
        node.setAttribute('data-edit-mode', node.getAttribute('data-edit-mode') === one ? two : one);
      }
    };
    toggleButton.onclick = function (e) {
      toggleMode('.mode-toggle', 'true', 'false');
      e.preventDefault();
    };

    var coursecal = $('#coursecal'),
      original_mouse_over_option, original_mouse_out_option,
      fetch_url = '{% url "relate-fetch_event_json" course.identifier pperm.edit_events|yesno:"1,0" %}';

    {% if pperm.edit_events %}
      var edit_view_url = fetch_url;
    {% endif %}

    $(document).ready(function () {
      coursecal.fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        contentHeight: "auto",
        defaultDate: '{{ default_date }}',
        defaultView: $(window).width() < 765 ? 'agendaWeek' : 'month',
        timezone: "local",
        events: fetch_url
      });

      {% if pperm.edit_events %}
        original_mouse_out_option = coursecal.fullCalendar('option', 'eventMouseout') || function () {
        };
        original_mouse_over_option = coursecal.fullCalendar('option', 'eventMouseover') || function () {
        };

        {% if is_edit_mode %}
          enable_event_edit();
        {% endif %}
      {% endif %}
    });

    {% if pperm.edit_events %}
      function initialize_ui() {
        if (coursecal.data("mode") === "edit") {
          enable_event_edit();
        } else {
          disable_event_edit();
        }
      }

      function enable_event_edit() {
        $("[data-edit-mode='true']").show();
        $("[data-edit-mode='false']").hide();

        coursecal.fullCalendar('option', 'eventMouseover',
          function (event, jsEvent, view) {
            var remove_html, edit_html;
            remove_html = tmpl("delete-event-icon-template");
            edit_html = tmpl("edit-event-icon-template");
            $('.fc-content', $(this)).append(remove_html).append(edit_html);
            $('.relate-delete-event', $(this)).on('click', function () {
              console.log("here", event.delete_form_url);
              $.ajax({
                url: event.delete_form_url,
                success: function (data, textStatus, jqXHR) {
                  $("#div-id-relate-delete-event-form").html(data.form_html);
                  $("#delete-event-modal")
                    .find("form")
                    .prop("action", event.delete_url)
                    .end()
                    .modal('show')
                    .find("form")
                    .on('submit', function (e) {
                      e.preventDefault();
                      var form = $(this);
                      post_modal_form(form);
                    });
                },
                error: function (data, textStatus, jqXHR) {
                  django_message(data.error, "error")
                }
              });
              {#$("#deleteEventModal")#}
              {#  .find("form")#}
              {#  .prop("action", event.delete_url)#}
              {#  .end()#}
              {#  .modal('show');#}
            });
            $('.relate-update-event', $(this)).on('click', function () {
              $.ajax({
                url: event.update_form_url,
                success: function (data, textStatus, jqXHR) {
                  $("#div-id-relate-update-event-form").html(data.form_html);
                  $("#update-event-modal")
                    .find("form")
                    .prop("action", event.update_url)
                    .end()
                    .modal('show')
                    .find("form")
                    .on('submit', function (e) {
                      e.preventDefault();
                      var form = $(this);
                      post_modal_form(form);
                    });
                  },
                error: function (data, textStatus, jqXHR) {
                  django_message(data.error, "error")
                }
              });
            });
          });
        coursecal.fullCalendar('option', 'eventMouseout',
          function (event, jsEvent, view) {
            $(".relate-event-hover", $(this)).remove();
          });
        coursecal.fullCalendar('option', 'selectable', true);
      }

      function disable_event_edit() {
        $("[data-edit-mode='true']").hide();
        $("[data-edit-mode='false']").show();

        coursecal.fullCalendar('option', 'selectable', false);
        coursecal.fullCalendar('option', 'eventMouseover', original_mouse_over_option);
        coursecal.fullCalendar('option', 'eventMouseout', original_mouse_out_option);
      }

      function rerender_events(url, mode) {
        coursecal.fullCalendar('refetchEvents');
        {#coursecal.fullCalendar('rerenderEvents');#}
        {#$('#relate-event-info').html(result.events_info);#}
        coursecal.data("mode", mode);
        initialize_ui();
      }

      function toggle_view_mode() {
        var url, mode;
        url = coursecal.data("mode") === "edit" ? fetch_url : edit_view_url;
        mode = coursecal.data("mode") === "edit" ? "view" : "edit";
        rerender_events(url, mode);
        return mode
      }

      $("#toggle-calendar-view2").on('click', toggle_view_mode);

      function post_modal_form(form) {
        var self = form,
          url = self.attr("action"),
          form_data = self.serialize();
        $.ajax({
          url: self.attr("action"),
          type: "POST",
          data: form_data,
          beforeSend: function (xhr, settings) {
            var csrftoken = get_cookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          },
          success: function (data, textStatus, jqXHR) {
            coursecal.fullCalendar('refetchEvents');
            {#rerender_events(edit_view_url, "edit");#}
            initialize_ui();
            self.closest('.modal').modal("hide");
            if (data.message)
              django_message(data.message, "success");
          },
          error: function (data, textStatus, jqXHR) {
            clear_form_field_errors(self);
            var errors = data.responseJSON;
            $.each(errors, function (index, value) {
              if (index === "__all__") {
                apply_form_non_field_error(self, value[0]);
              } else {
                apply_form_field_error(index, value);
              }
            });
          }
        })
      }

      {# reset modal form after close #}
      $('.modal form')
        .closest(".modal")
        .on('hidden.bs.modal', function () {
          var this_form = $(this).find('form');
          this_form.trigger('reset');
          clear_form_field_errors(this_form);
        })
        .end()
        .on('submit', function (e) {
          e.preventDefault();
          var form = $(this);
          post_modal_form(form);
        });

      function apply_form_field_error(fieldname, error) {
        var input = $("#id_" + fieldname),
          container = $("#div_id_" + fieldname),
          error_msg = $("<span />").addClass("text-danger help-inline ajax-error").text(error[0]);

        container.addClass("has-error error");
        error_msg.insertAfter(input);
      }

      function apply_form_non_field_error(form, error) {
        var form_group_last = $(".form-group:last", $(form)),
          error_msg = $("<div />")
            .addClass("alert alert-danger ajax-error")
            .html('<i class="fa fa-ban"></i> ' + error);
        if (form_group_last.length)
          error_msg.insertAfter(form_group_last);
        else error_msg.insertAfter($(form).children().first());
      }

      function clear_form_field_errors(form) {
        $(".ajax-error", $(form)).remove();
        $(".error", $(form)).removeClass("has-error");
      }

      function django_message(msg, level) {
        var levels = {
            warning: 'alert',
            error: 'error',
            success: 'success',
            info: 'info'
          },
          fontawesome_class = {
            warning: 'warning',
            error: 'ban',
            success: 'check',
            info: 'info-circle'
          },
          html = tmpl("django-message-template", {
            "message": msg, "tags": levels[level],
            "icon_class": fontawesome_class[level]
          });
        $("#message_area").append(html);
      }
    {% endif %}

  </script>

  {% if pperm.edit_events %}
    <script type="text/x-tmpl" id="django-message-template">
      <div class="alert alert-{{ JQ_OPEN }}=o.tags{{ JQ_CLOSE }} fade in" data-alert="{{ JQ_OPEN }}=o.tags{{ JQ_CLOSE }}">
        <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
        <i class="fa fa-{{ JQ_OPEN }}=o.icon_class{{ JQ_CLOSE }}"></i>
        {{ JQ_OPEN }}=o.message{{ JQ_CLOSE }}
      </div>

    </script>

    <script type="text/x-tmpl" id="delete-event-icon-template">
      <span class="relate-event-hover fc-title glyphicon glyphicon-remove-circle relate-delete-event"
        style="float:right;cursor:pointer" title="{% trans 'Remove event' %}"</span>

    </script>

    <script type="text/x-tmpl" id="edit-event-icon-template">
      <span class="relate-event-hover fc-title glyphicon glyphicon-pencil relate-update-event"
        style="float:right; cursor:pointer" id="edit" title="{% trans 'Edit this event' %}"> </span>

    </script>
  {% endif %}

  {{ block.super }}
{% endblock %}