{% extends "course/course-base.html" %}

{% block title %}
  {{flow_desc.title}} - LearningWhat.com
{% endblock %}

{% block content %}

  {% if grade_info.total_count %}
  <h1>结果: {{flow_desc.title}}</h1>
  <div class="well flow-well">
    <p>
    你
    {% if grade_info.max_points != grade_info.max_reachable_points %}
      <b>(目前为止)</b>
    {% endif %}
    已经得到了{{ grade_info.max_points|floatformat }}分中的<b>{{ grade_info.provisional_points|floatformat }}</b>分。    
    {% if grade_info.max_points != grade_info.max_reachable_points %}
      (因为一些问题尚未评分，所以你的得分可能会发生变化。)
    {% else %}
      (That's <b>{{ grade_info.points_percent|floatformat }}%</b>.)
    {% endif %}

    </p>

    <div class="progress">
      <div class="progress-bar progress-bar-success"
        style="width: {{ grade_info.points_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-danger"
        style="width: {{ grade_info.missed_points_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-info"
        style="width: {{ grade_info.unreachable_points_percent|floatformat:8 }}%"></div>
    </div>

    <p>
    你已经正确回答了 {{ grade_info.fully_correct_count }} 个问题， {{ grade_info.partially_correct_count }} 个问题的回答部分正确，
    {{ grade_info.incorrect_count }} 个问题的回答不正确。
    {% if grade_info.unknown_count %}
    对{{ grade_info.unknown_count }}个问题的回答是否正确有待评分。
    {% endif %}
    </p>

    <div class="progress">
      <div class="progress-bar progress-bar-success"
        style="width: {{ grade_info.fully_correct_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-warning"
        style="width: {{ grade_info.partially_correct_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-danger"
        style="width: {{ grade_info.incorrect_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-info"
        style="width: {{ grade_info.unknown_percent|floatformat:8 }}%"></div>
    </div>
  </div>
  {% endif %}

  {{ completion_text|safe }}

  <div class="well flow-well">
    <a class="btn btn-default"
      href="{% url "course.flow.view_start_flow" course.identifier flow_identifier %}"
      role="button">&laquo; 回到起始页面。</a>
  </div>

{% endblock %}
