{% extends "course/course-base.html" %}
{% load i18n %}

{% load static %}

{% block title %}
  {% trans "List of Participants" %} - {% trans "RELATE" %}
{% endblock %}

{% block header_extra %}
    {# the min.js version contains all dependencies #}
    <script src="{% static "datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <link href="{% static "datatables/media/css/jquery.dataTables.min.css" %}" rel="stylesheet">

    <script src="{% static "datatables-fixedcolumns/js/dataTables.fixedColumns.js" %}"></script>
    <link href="{% static "datatables-fixedcolumns/css/dataTables.fixedColumns.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1>{% trans "List of Participants" %}</h1>

  {% include "course/participation-table.html" with participations=participations %}

  <table class="gradebook-participants">
    <thead>
      <th class="datacol">{% trans "User ID" %}</th>
      <th class="datacol">{% trans "Last Name" %}</th>
      <th class="datacol">{% trans "First Name" %}</th>
      <th class="datacol">{% trans "student ID" %}</th>
      <th class="datacol">{% trans "Role" %}</th>
      <th class="datacol">{% trans "Email" %}</th>
    </thead>
    <tbody>
      {% for participation in participations %}
      <tr>
        <td class="headcol"><a href="{% url "relate-view_participant_grades" course.identifier participation.id %}"><span class="sensitive">{{ participation.user.username }}</span></a></td>
        <td class="datacol"><span class="sensitive">{{ participation.user.last_name }}</span></td>
        <td class="datacol"><span class="sensitive">{{ participation.user.first_name }}</span></td>
        <td class="datacol">{{ participation.get_role_desc }}</td>
        <td class="datacol"><span class="sensitive">{{ participation.user.user_status.student_ID }}</span></td>
        <td class="datacol"><span class="sensitive">{{ participation.user.email }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

        language:{url: '//cdn.datatables.net/plug-ins/1.10.8/i18n/Chinese.json'}
{% endblock %}
