{% load i18n %}

<table class="table table-striped gradebook-participants">
  <thead>
    <th class="datacol">{% trans "User ID" %}</th>
    <th class="datacol" title="{% trans 'Real fullname is provided by prapproval if exist. Also displays a fullname (with red font) provided by the user if both are provided while different.' %}">
        {% trans "Name" context "real name of a user" %}</th>
    <th class="datacol">{% trans "Role" %}</th>
    <th class="datacol">{% trans "Institutional ID" %}</th>
    <th class="datacol">{% trans "Tags" %}</th>
    <th class="datacol">{% trans "Email" %}</th>
  </thead>
  <tbody>
    {% for participation, provided_name in participations %}
    <tr>
      <td class="headcol"><a href="{% url "relate-view_participant_grades" course.identifier participation.id %}"><span class="sensitive">{{ participation.user.username }}</span></a></td>
      <td class="datacol"><span class="sensitive">
          {% if participation.user.get_full_name.lower == provided_name.lower %}
            {{ participation.user.get_full_name }}
          {% else %}
            {% if provided_name != None %}
                {{provided_name}}<span style="color:red">({{ participation.user.get_full_name }})</span>
            {% else %}
                <span style="color:red">{{ participation.user.get_full_name }}</span>
            {% endif %}
          {% endif %}</span>
     </td>
      <td class="datacol">{{ participation.get_role_desc }}</td>
      <td class="datacol"><span class="sensitive">{{ participation.user.institutional_id }}</span></td>
      <td class="datacol">
        {% for ptag in participation.tags.all %}
          <span class="label label-default">{{ ptag.name }}</span>
        {% endfor %}
      </td>
      <td class="datacol"><span class="sensitive">{{ participation.user.email }}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% load static coursetags %}
{% get_current_js_lang_name as LANG %}
<script type="text/javascript">
  var tbl = $("table.gradebook-participants").dataTable({
      "scrollCollapse": true,
      "paging": false,
      "ordering": true,
      "columnDefs": [{ type: 'name', targets: 1 }],
      "language": {url: '{% static "datatables-i18n/i18n/" %}{{LANG}}.json'},
  } );
</script>
