{% extends 'jfu/upload_form.html' %}

{% block UPLOAD_FORM %}
{% load i18n crispy_forms_tags %}
{% crispy form %}
{% endblock %}

{% block CSS_EXTRA %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery_file_upload_extra.css">
{% endblock %}

{% block JS_OPTS %}
imageMaxWidth: 900,
imageMaxHeight: 900,
loadImageFileTypes: /^image\/(gif|jpeg|png|svg\+xml)$/,
sequentialUploads: true,
disableImageResize: /Android(?!.*Chrome)|Opera/
    .test(window.navigator && navigator.userAgent),

imageCrop: false, // Force cropped images
acceptFileTypes: /(\.|\/)(png|gif|jpe?g)$/i,
messages: {
                acceptFileTypes: 'File type not allowed'
            },
previewMaxWidth: 80,
previewMaxHeight: 80,
imageOrientation: true,
{% endblock %}
