{% load static %}
{% load crowdsourcing %}
<link href="{% static "css/enlarge.css" %}" rel="stylesheet">
<link href="{% static "css/google_maps.css" %}"  rel="stylesheet">
<link href="{% static "bootstrap-datepicker/dist/css/bootstrap-datepicker.css" %}" rel="stylesheet">
<link href="{% static "css/course_stat_styles.css" %}"  rel="stylesheet">

{% google_map_api %}
{% yahoo_api %}
<script src="{% static "jquery-form/jquery.form.js"%}" ></script>
<script src="{% static "bootstrap-datepicker/dist/js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "js/enlarge.js"%}" ></script>
<script src="{% static "js/google_maps.js"%}" ></script>
<script src="{% static "js/survey.js"%}" ></script>
