{% load i18n %}
<div class="modal-header visible-lg">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modalLabel">{% trans "Edit image" %}</h4>
    <!--[if lt IE 9]>
        <div class="browser alert alert-danger warning"><i class="fa fa-warning"></i> {% trans "This page requires a modern browser so that it can work properly" %}. {% trans "Chrome/Firefox are prefered browsers. If you want use Internet Explorer, please install one with version higher than 10." %}</div>
    <![endif]-->
</div>
<div class="modal-body">
    <div class="img-container">
        <img id="image" src="{{ file.get_absolute_url }}" alt="Picture{{file.id}}" id="target{{file.id}}">
    </div>
    <div class="preview_container">
        <div id="preview"></div>
    </div>
</div>
<div class="modal-footer">
        {% if STAFF_EDIT_WARNNING %}
        <div class="alert alert-danger warning" style="text-align: left;">{% blocktrans trimmed %}
            <strong>WATCH OUT!!!</strong> You are currently editting <strong>{{owner}}</strong>'s image. 
            Take care especially if you want to crop the image. Your revision will not be able to undo upon submission!
            {% endblocktrans %}</div>
        {% endif %}
        <div id="crp-result"></div>
        <button type="button" class="btn btn-primary btn-crp-rtt" data-step="90">
              <i class="fa fa-rotate-left"></i>
                <span>90&deg;</span>
        </button>            
        <button type="button" class="btn btn-primary btn-crp-rtt" data-step="-90">
              <i class="fa fa-rotate-right"></i>
                <span>90&deg;</span>
        </button>
        {% if ALLOW_ROTATE_TUNE %}
        <button type="button" class="btn btn-primary btn-crp-rtt" data-step="-0.5">
              <i class="fa fa-reply"></i>
                <span>0.5&deg;</span>
        </button>            
        <button type="button" class="btn btn-primary btn-crp-rtt" data-step="0.5">
              <i class="fa fa-share"></i>
            <span>0.5&deg;</span>
        </button>
        {% endif %}
    <iframe id="crp-iframe" name="crp-iframe" style="display: none;"></iframe>
    <form id="crp-form"
          action="{% url 'image_crop' file.course.identifier file.flow_session_id file.get_page_ordinal file.id %}"
          method="post"
          target="crp-iframe"
          style="display: none;">
        {% csrf_token %}
        <input id="dataX" type="text" name="x"/>
        <input id="dataY" type="text" name="y"/>
        <input id="dataWidth" type="text" name="width"/>
        <input id="dataHeight" type="text" name="height"/>
        <input id="dataRotate" type="text" name="rotate"/>
        {# <input id="dataScaleX" type="text" name="scalex"/> #}
        {# <input id="dataScaleY" type="text" name="scaley"/> #}
    </form>
    <button type="button" class="btn btn-success disabled btn-crp-submit">
        <i class="fa fa-check"></i>
        <span>{% trans "Submit" %}</span></button>
    <button type="button" class="btn btn-warning disabled btn-crp-reset">
        <i class="fa fa-refresh"></i>
        <span>{% trans "Reset" %}</span></button>
    <button type="button" class="btn btn-primary btn-crp-preview">
        <i class="fa fa-eye"></i>
        <span>{% trans "Preview" %}</span></button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">
        <i class="fa fa-remove"></i>
        <span>{% trans "Close" %}</span>
    </button>
</div>