{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block submit_buttons_top %}
    <div class="submit-row">
        {% if previous_fpi_id %}
       <input type="button" onclick="location.href='{% url 'admin:image_upload_flowpageimage_change' previous_fpi_id %}?{{preserved_filters}}'" value="{% trans 'View previous' %}" />
        <input type="submit" value="{% trans 'Save and view previous' %}" name="_saveviewprevious" />
        {% else %}
        <input type="button" value="{% trans 'View previous' %}" disabled="disabled" />
        <input type="submit" value="{% trans 'Save and view previous' %}" disabled="disabled" />
        {% endif %}
        {% if next_fpi_id %}
       <input type="submit" value="{% trans 'Save and view next' %}" name="_saveviewnext" />
        <input type="button" onclick="location.href='{% url 'admin:image_upload_flowpageimage_change' next_fpi_id %}?{{preserved_filters}}'" value="{% trans 'View next' %}"/>
        {% else %}
       <input type="submit" value="{% trans 'Save and view next' %}" disabled="disabled" />
        <input type="button" value="{% trans 'View next' %}" disabled="disabled" />
        {% endif %}
    </div>
    {{ block.super }}
{% endblock %}


{% block submit_buttons_bottom %}
    <div class="submit-row">
        {% if previous_fpi_id %}
       <input type="button" value="{% trans 'View previous' %}" name="_viewprevious" />
        <input type="submit" value="{% trans 'Save and view previous' %}" name="_saveviewprevious" />
        {% endif %}
        {% if next_fpi_id %}
       <input type="submit" value="{% trans 'Save and view next' %}" name="_saveviewnext" />
        <input type="button" value="{% trans 'View next' %}" name="_viewnext" />
        {% endif %}
    </div>
    {{ block.super }}
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script type="text/javascript"
      src="/static/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js", "TeX/boldsymbol.js"],
        messageStyle: "none",
        // jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
      });
    </script>
    <script type="text/javascript">
    (function($) {
        $('.markdownx').on('markdownx.update', function(e, response) {
            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
        });
    })(django.jQuery);
    </script>
{% endblock %}