{% load relate_jfutags %}

{% jfu 'image_upload/imgupload-page-config.html' course_identifier=course_identifier flow_session_id=flow_session_id ordinal=ordinal %}

<!-- Modal -->
<div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div><!-- /.modal -->

<div>
    <iframe id="ord-iframe" name="ord-iframe" style="display: none;"></iframe>
    <form id="ord-form"
          action="{% url 'image_order' course_identifier=course_identifier flow_session_id=flow_session_id ordinal=ordinal %}"
          method="post"
          target="ord-iframe"
          {# style="display: none;" #}
          >
        {% csrf_token %}
    </form>
</div>


<div>
    <form class="form-horizontal" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value={{ csrf_token }}>
        <div id="div_id_hidden_answer" class="form-group hidden">
            <div class="controls col-lg-8">
                <input type="hidden"
                        id="id_hidden_answer" name="hidden_answer" type="text" value="{{ pk_list_str }}">
            </div>
        </div>
        <div class="form-group"> <div class="aab controls col-lg-2"></div>
            <div class="controls col-lg-8" id="real-submit-div"></div>
        </div>
    </form>
</div>

