{% extends 'jfu/upload_form.html' %}
{% load i18n %}

{% block CSS_BOOTSTRAP %}{# BOOTSTRAP css (Override to keep it empty) #}{% endblock %}
{% block JS_JQUERY %}{#jQuery (Override to keep it empty) {% endcomment #}{% endblock %}
{% block CSS_HTML5_SHIM %}{# IE 9 lt already supported (Override to keep it empty)#}{% endblock %}

{% block CSS_EXTRA %}
{% if not IN_GRADE_PAGE %}
{{ block.super }}
{% else %}
<style>
    .preview img {
    max-width:40vw;
}
@media (max-width: 767px) {
  .fileupload-buttonbar .delete
  {
    display: none;
  }
}
</style>
{% endif %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/imgupload-page.css">
<link rel="stylesheet" href="{{ STATIC_URL }}cropperjs/dist/cropper.css">
<noscript><link rel="stylesheet" href="{{ STATIC_URL }}css/imgupload-noscript.css"></noscript>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/imgupload-noscript.css">
    <![endif]-->
{% endblock %}

{% block JS_BOOTSTRAP %}{# BOOTSTRAP js (Override to keep it empty) #}{% endblock %}

{% block UPLOAD_FORM %}
    <noscript><div class="alert alert-danger warning noscript"><i class="fa fa-warning"></i> {% trans "This page requires Javascript enabled in your browser. Please refer to <a href='https://www.whatismybrowser.com/guides/how-to-enable-javascript/' target='_blank'> this link </a> to see how to do it." %}<br/></div></noscript>
    <!--[if lte IE 9]>
        <div class="browser alert alert-danger warning"><i class="fa fa-warning"></i> {% trans "This page requires a modern browser so that it can work properly" %}, {% trans "especially when you want to sort image correctly and enable image editting" %}. {% trans "Chrome/Firefox are prefered browsers. If you want use Internet Explorer, please install one with version higher than 10." %}<br/></div>
    <![endif]-->
{% load i18n crispy_forms_tags %}
{% crispy form %}
{% endblock %}

{% block JS_OPTS %}
imageMaxWidth: {{imageMaxWidth}},
imageMaxHeight: {{imageMaxHeight}},
loadImageFileTypes: /^image\/(gif|jpeg|png|svg\+xml)$/,
sequentialUploads: true,
disableImageResize: /Android(?!.*Chrome)|Opera/
    .test(window.navigator && navigator.userAgent),

imageCrop: false, // Force cropped images
acceptFileTypes: /(\.|\/)(png|gif|jpe?g)$/i,
messages: {
            maxFileSize: '{% trans "File is too big" %}',
            minFileSize: '{% trans "File is too small" %}',
            acceptFileTypes: '{% trans "Filetype not allowed" %}',
            maxNumberOfFiles: '{% blocktrans trimmed %} Max number of files exceeded, only {{maxNumberOfFiles}} allowed{% endblocktrans %}',
            uploadedBytes: '{% trans "Uploaded bytes exceed file size" %}',
            emptyResult: '{% trans "Empty file upload result" %}'
            },
imageOrientation: true,
maxNumberOfFiles: {{maxNumberOfFiles}},
previewMaxWidth: {{previewMaxWidth}},
previewMaxHeight: {{previewMaxHeight}},
maxFileSize: {{maxFileSize}},
minFileSize: {{minFileSize}},
{% endblock %}


{% block JS_EXTRA %}
{{ block.super }}
<script src="{{ STATIC_URL }}clipboard/dist/clipboard.min.js"></script>
<script src="{% url 'javascript-catalog-image-upload' %}"></script>
<script src="{{ STATIC_URL }}cropperjs/dist/cropper.js"></script>
<script src="{{ STATIC_URL }}js/imgupload-page-min.js"></script>
<script>
function magnify(x) {
    $(x).ezPlus({
    zoomType: 'inner',
    cursor: 'crosshair'
});
}
</script>
{% endblock %}

{% block JS_UPLOAD_TEMPLATE %}{% endblock %}
{% block JS_DOWNLOAD_TEMPLATE %}{% endblock %}
