{% extends 'jfu/upload_form.html' %}
{% load i18n %}

{% block CSS_BOOTSTRAP %}{# BOOTSTRAP css (Override to keep it empty) #}{% endblock %}
{% block JS_JQUERY %}{#jQuery (Override to keep it empty) {% endcomment #}{% endblock %}
{% block CSS_HTML5_SHIM %}{# IE 9 lt already supported (Override to keep it empty)#}{% endblock %}

{% block CSS_EXTRA %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/imgupload-page.css">
<link rel="stylesheet" href="{{ STATIC_URL }}cropperjs/dist/cropper.css">
{% endblock %}

{% block JS_BOOTSTRAP %}{# BOOTSTRAP js (Override to keep it empty) #}{% endblock %}

{% block UPLOAD_FORM %}
{% load i18n crispy_forms_tags %}
{% crispy form %}
{% endblock %}

{% block JS_OPTS %}
imageMaxWidth: 900,
imageMaxHeight: 900,
loadImageFileTypes: /^image\/(gif|jpeg|png|svg\+xml)$/,
sequentialUploads: true,
disableImageResize: /Android(?!.*Chrome)|Opera/
    .test(window.navigator && navigator.userAgent),

imageCrop: false, // Force cropped images
acceptFileTypes: /(\.|\/)(png|gif|jpe?g)$/i,
messages: {
                acceptFileTypes: '不允许的文件类型'
            },
imageOrientation: true
{% endblock %}


{% block JS_EXTRA %}
{{ block.super }}
<script src="{% url 'javascript-catalog-image-upload' %}"></script>
<script src="{{ STATIC_URL }}cropperjs/dist/cropper.js"></script>
<script src="{{ STATIC_URL }}imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}js/imgupload-page.js"></script>
{% endblock %}

{% block JS_UPLOAD_TEMPLATE %}{% endblock %}
{% block JS_DOWNLOAD_TEMPLATE %}{% endblock %}
