{% extends 'image_upload/upload-form-wrapper.html' %}
{% load i18n %}
{% load static %}

{# example https://github.com/jansarmir/jQuery-File-Upload/blob/d3538f41161f63eb8b5c15c3e1e848f5081044af/basic-plus-cropper.html #}

{% block CSS_BOOTSTRAP %}{# BOOTSTRAP css (Override to keep it empty) #}{% endblock %}
{% block JS_JQUERY %}{#jQuery (Override to keep it empty) {% endcomment #}{% endblock %}
{% block CSS_HTML5_SHIM %}{# IE 9 lt already supported (Override to keep it empty)#}{% endblock %}

{% block CSS_JQUERY_FILE_UPLOAD_UI %}
    {# CSS to style the file input field as button and adjust the Bootstrap progress bars #}
    {#  CUSTOMIZED VERSION  #}
     <link rel="stylesheet" href="{% static "css/jquery.fileupload-ui-learningwhat.css" %}?rev=2.3.3">
    {# CSS adjustments for browsers with JavaScript disabled #}
    <noscript><link rel="stylesheet" href="{{ STATIC_URL }}blueimp-file-upload/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="{{ STATIC_URL }}blueimp-file-upload/css/jquery.fileupload-ui-noscript.css"> </noscript>
{% endblock %}

{% block CSS_EXTRA %}
    {% if not IN_GRADE_PAGE %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static "css/jquery.fileupload-ui-learningwhat.css" %}?rev=2.3.3">
    {% else %}
        <style>
            @media (min-width: 768px) {
                .preview img {
                    max-width: calc(50vw - 162px);
                }
                #fileupload tbody > * > td:nth-child(1),
                #fileupload tbody > * > td:nth-child(2)
                {
                    padding: 0;
                }
            }
            @media (max-width: 767px) {
                .preview img {
                    max-width: calc(100% + 54px);
                }
                .fileupload-buttonbar .delete
                {
                    display: none;
                }
            }
            #fileupload table {
                margin: 0
            }
        </style>
        {#{{ block.super }}#}

    {% endif %}
    <link rel="stylesheet" href="{% static "css/imgupload-page.css"  %}?rev=2.3.12">
    <link rel="stylesheet" href="{% static "cropper/dist/cropper.min.css" %}?rev=3.0.0-beta ">
    <noscript><link rel="stylesheet" href="{% static "css/imgupload-noscript.css" %}"></noscript>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{% static "css/imgupload-noscript.css" %} ">
    <![endif]-->
{% endblock %}

{% block JS_BOOTSTRAP %}{# BOOTSTRAP js (Override to keep it empty) #}{% endblock %}

{% block UPLOAD_FORM %}
    <noscript>
        <div class="alert alert-danger warning noscript"><i
                class="fa fa-warning"></i> {% trans "This page requires Javascript enabled in your browser. Please refer to <a href='https://www.whatismybrowser.com/guides/how-to-enable-javascript/' target='_blank'> this link </a> to see how to do it." %}<br/>
        </div>
    </noscript>
    <!--[if lte IE 9]>
        <div class="browser alert alert-danger warning"><i class="fa fa-warning"></i> {% trans "This page requires a modern browser so that it can work properly" %}, {% trans "especially when you want to sort image correctly and enable image editting" %}. {% trans "Chrome/Firefox are prefered browsers. If you want use Internet Explorer, please install one with version higher than 10." %}<br/></div>
    <![endif]-->
    {% load i18n crispy_forms_tags %}
    {% crispy form %}
{% endblock %}

{% block JS_OPTS %}
    imageMaxWidth: {{ imageMaxWidth }},
    imageMaxHeight: {{ imageMaxHeight }},
    paramName: 'image',
    loadImageFileTypes: /^image\/(gif|jpeg|png|svg\+xml)$/,
    sequentialUploads: true,
    disableImageResize: /Android(?!.*Chrome)|Opera/
    .test(window.navigator && navigator.userAgent),

    imageCrop: false, // Force cropped images
    acceptFileTypes: /(\.|\/)(png|gif|jpe?g)$/i,
    messages: {
        maxFileSize: '{% trans "File is too big" %}',
        minFileSize: '{% trans "File is too small" %}',
        acceptFileTypes: '{% trans "Filetype not allowed" %}',
        maxNumberOfFiles: '{% blocktrans trimmed %} Max number of files exceeded, only {{ maxNumberOfFiles }} allowed{% endblocktrans %}',
        uploadedBytes: '{% trans "Uploaded bytes exceed file size" %}',
        emptyResult: '{% trans "Empty file upload result" %}'
    },
    imageOrientation: true,
    maxNumberOfFiles: {{ maxNumberOfFiles }},
    previewMaxWidth: {{ previewMaxWidth }},
    previewMaxHeight: {{ previewMaxHeight }},
    maxFileSize: {{ maxFileSize }},
    minFileSize: {{ minFileSize }},
    existingloaded: function(e, data){
{#        console.log("loadexisting done!");#}
        var that = this;
{#        console.log(this);#}
        $(this).trigger('existingloaded', data);

{#        var that2 = $(this).data('blueimp-fileupload') ||#}
{#                            $(this).data('fileupload');#}
{##}
{#        numberOfFiles = that2.options.getNumberOfFiles();#}
{#        console.log(numberOfFiles);#}
    },
{#    done: function(e,data){#}
{#        console.log(data);#}
{#        console.log(this);#}
{#        var that = this;#}
{#        var that2 = $(this).data('blueimp-fileupload') ||#}
{#                            $(this).data('fileupload');#}
{#        console.log(that2);#}
{#        console.log(that2.options.getNumberOfFiles());#}
{#        console.log(that2.options.filesContainer);#}
{#        console.log($(this).options.filesContainer);#}
{##}
{#        console.log($.blueimp.fileupload.prototype.options.getNumberOfFiles.call($(that)));#}
{#        console.log($(this).fileupload("options", "getNumberOfFiles").call());#}
{#        $.blueimp.fileupload.prototype.options.done.call(that, e, data);#}
{#    },#}
    finished: function(e,data){
{#        console.log("finished");#}
{#        console.log(data);#}
{#        console.log(this);#}
        var that = this;
        var that2 = $(this).data('blueimp-fileupload') ||
                            $(this).data('fileupload');
{#        console.log(that2);#}
{#        console.log(that2.options.getNumberOfFiles());#}
{#        console.log(that2.options.filesContainer);#}
{#        console.log($(this).options.filesContainer);#}

{#        console.log($.blueimp.fileupload.prototype.options.getNumberOfFiles.call($(that)));#}
{#        console.log($(this).fileupload("options", "getNumberOfFiles").call());#}
{#        $.blueimp.fileupload.prototype.options.finished.call(that, e, data);#}
    },

{#        $.blueimp.fileupload.prototype.options.done.call(that, e, data);#}
{% endblock %}


{% block JS_EXTRA %}
    {{ block.super }}
    <script src="{% static "jqueryui-touch-punch/jquery.ui.touch-punch.min.js" %} "></script>
    <script src="{% static "clipboard/dist/clipboard.min.js" %} "></script>
    <script src="{% url 'javascript-catalog-image-upload' %}?rev=1.0.1"></script>
    <script src="{% static "cropper/dist/cropper.min.js" %}?rev=3.0.0-beta "></script>
    {#<script src="{% static "js/imgupload-page.js" %}?rev=2.3.13 "></script>#}

    <script>
        $(document).ready(function () {
            'use strict';
            $(".relate-save-button").each(function () {
                $(this)
                    .attr("formaction", window.location.pathname)
                    .detach()
                    .appendTo('#actual-submit-div');
            }).on("click", function () {
                $("#div_id_hidden_answer")
                    .html('<div class="controls"/>')
                    .find("div")
                    .html('<input type="hidden" id="id_hidden_answer" name="hidden_answer" type="text"/>')
                    .find("input")
                    .prop("value", get_all_pks($("#fileupload")));
                });
            new Clipboard('.btn-data-copy');
        });

        function get_all_pks(that){
            var all_pks = [];
            $(that).fileupload("option", "filesContainer")
                .children().not('.processing')
                .each(function(){
                    all_pks.push($(this).attr("data-file-pk"));
                });
            return all_pks;
        }

        function disable_submit_button(bool) {
            $(".relate-save-button").prop("disabled", bool);
        }

        function hide_fileupload_control_button(that, bool) {
            $(that).find('.fileupload-buttonbar')
                .find('.start, .cancel')
                .css("display", bool?"none":"")
                .prop("disabled", bool);
            }

        function toggle_fileupload_control_delete(that) {
            var buttonBar = $(that).find('.fileupload-buttonbar'),
                deletebutton = buttonBar.find('.delete'),
                toggle = buttonBar.find(".toggle"),
                disabledBool = $(that).find(".toggle:checked").length === 0,
                displayBool = !$(that).fileupload("option", "filesContainer").children()
                        .not('.processing').length;
            $(deletebutton).css("display", displayBool?"none":"").prop("disabled", disabledBool);
            $(toggle).css("display", displayBool?"none":"");
        }

        function disable_fileupload_control_delete_toggle(bool, that) {
            $(that).find(".fileupload-buttonbar").find(".toggle").prop("disabled", bool);
        }

        function getWidthQueryMatch_md_sm_xs() {
            return window.matchMedia("(max-width: 1023px)").matches;
        }

{#        function getWidthQueryMatch_sm_xs() {#}
{#            return window.matchMedia("(max-width: 767px)").matches;#}
{#        }#}

        // close gallery using back button
        $('#blueimp-gallery')
            .on('open', function (e) {
                if (getWidthQueryMatch_md_sm_xs()) {
                    window.history.pushState('forward', null, '#slides');
                }
            })
            .on('close', function (e) {
                if (location.hash == '#slides' && getWidthQueryMatch_md_sm_xs()) window.history.back();
            });


        window.addEventListener('DOMContentLoaded', function () {
            'use strict';

            var modal_html = $('#editPopup').html();
            var $editTarget;
            var $image, contData, result;

            {# extra modal #}
            var $modal = $('#upload-modal');
            var $targetImage = $('#upload-image');
            $("#fileupload").bind('fileuploadadded', function(that, data) {
                if (data.insertAfter && data.insertAfter.length) {
                    $(data.context).insertAfter(data.insertAfter);
                } else if (data.insertBefore && data.insertBefore.length) {
                    $(data.context).insertBefore(data.insertBefore);
                }

                if (!data.files) {
                    return;
                }
                var orig, mod = data.files[0];
                $.each(data.originalFiles, function(i, v) {
                    if (v.name === mod.name) {
                        orig = v;
                        return true;
                    }
                });
                if (!orig) {
                    return;
                }

                var $btn = $(data.context).find('.btn.edit');
                $btn.prop('disabled', false);
                $btn.on('click', function(e) {
                    $targetImage.prop('src', loadImage.createObjectURL(orig));
                    $targetImage.processCroppedCanvas = function(result) {
                        $(data.context).find('.btn.cancel').click();
                        result.toBlob(function(blob) {
                            blob.name = mod.name;
                            $("#fileupload").fileupload('add', {
                                files : [ blob ],
                                insertAfter : $(data.context).prev(),
                                insertBefore : $(data.context).next(),
                            });
                        }, 'image/jpeg');
                    }
                    $modal.modal('show');
                    return false;
                });
            });

            var aspectRatio = NaN;
            $modal.on('shown.bs.modal', function() {
                $targetImage.cropper({
                autoCropArea : 1.0,
                movable : true,
                zoomable : true,
                rotatable : true,
                scalable : true,
                aspectRatio : aspectRatio
                });
            }).on('hidden.bs.modal', function() {
                $targetImage.cropper('destroy');
            });
            $modal.find('.cropper-btns').on(
                'click',
                '[data-method]',
                function() {
                    var data = $.extend({}, $(this).data()); // Clone
                    var result = $targetImage.cropper(data.method, data.option,
                        data.secondOption);

                    switch (data.method) {
                        case 'scaleX':
                        case 'scaleY':
                            $(this).data('option', -data.option);
                        break;
                        case 'getCroppedCanvas':
                            if (result && $targetImage.processCroppedCanvas) {
                                $targetImage.processCroppedCanvas(result);
                            }
                        break;
                    }
                });

            {# extra modal #}


            $('#editPopup')
                .on('show.bs.modal', function (e) {
{#                    console.log(e.)#}
                    $(this).find('.modal-body').css({
                        width: 'auto', //probably not needed
                        height: 'auto', //probably not needed
                        'max-height': '100%'
                    });

                    $editTarget = $(e.relatedTarget);

                    var image_src = $editTarget.attr('data-src');

                    $image = $("#image");
                    $image.attr("src", image_src);
            })
                .on('shown.bs.modal', function () {
                    $(".relate-save-button").addClass('disabled');

                    $image.cropper({
                        checkOrientation: false,
                        autoCrop: true,
                        autoCropArea: 1,
                        strict: true,
                        movable: false,
                        zoomable: false,
                        minContainerheight: $(window).height() * 0.8,
                        ready: function (data) {
                            $image.cropper('setContainerData', contData);
                            $(".btn-crp-rtt").removeClass("disabled");
                        },
                        cropstart: function (data) {
                            $('.btn-crp-submit').removeClass("disabled");
                            $('.btn-crp-reset').removeClass("disabled");
                        },
                        crop: function (data) {
                            result = data;
                        },
                        rotate: function (data) {

                        }
                    });

                    function crpMsg(success, msg) {
                        var e = $("#crp-result");
                        if (success === true) {
                            e.addClass('alert alert-success').html(msg);
                        } else {
                            e.addClass('alert alert-danger').html(msg);
                        }
                        window.setTimeout(function () {
                            e.removeClass().html("");
                        }, 3000);
                    }

                    function rtt(angle) {
                        var canvData, newWidth, newHeight, newCanvData;
                        contData = $image.cropper('getContainerData');
                        $image.cropper('setCropBoxData', {
                            width: 2,
                            height: 2,
                            top: (contData.height / 2) - 1,
                            left: (contData.width / 2) - 1
                        });

                        $image.cropper('rotate', angle);

                        canvData = $image.cropper('getCanvasData');
                        newWidth = canvData.width * (contData.height / canvData.height);

                        if (newWidth >= contData.width) {
                            newHeight = canvData.height * (contData.width / canvData.width);
                            newCanvData = {
                                height: newHeight,
                                width: contData.width,
                                top: (contData.height - newHeight) / 2,
                                left: 0
                            };
                        } else {
                            newCanvData = {
                                height: contData.height,
                                width: newWidth,
                                top: 0,
                                left: (contData.width - newWidth) / 2
                            };
                        }

                        $image.cropper('setCanvasData', newCanvData);
                        $image.cropper('setCropBoxData', newCanvData);

                        $('.btn-crp-submit').removeClass("disabled");
                        $('.btn-crp-reset').removeClass("disabled");
                    }

                    $(".btn-crp-rtt").click(function () {
                        rtt($(this).data("option"));
                    });

                    $('.btn-crp-preview').click(function () {
                        var toggle = $('.cropper-container').hasClass("hidden"),
                            result = $image.cropper('getCroppedCanvas');
                        if (!toggle) {
                            $('.cropper-container').addClass("hidden");
                            $('#preview').removeClass("hidden").html(result);
                            $(this).html("<i class='fa fa-pencil'></i> <span>" + gettext('Edit') + "</span>");
                            $(".btn-crp-rtt").addClass("hidden");
                            $(".btn-crp-reset").addClass("hidden");
                        } else {
                            $('.cropper-container').removeClass("hidden");
                            $('#preview').addClass("hidden").html("");
                            $(this).html("<i class='fa fa-eye'></i> <span>" + gettext('Preview') + "</span>");
                            $(".btn-crp-rtt").removeClass("hidden");
                            $(".btn-crp-reset").removeClass("hidden");
                        }
                    });

                    $('.btn-crp-submit').click(function () {
                        $(this).addClass("disabled");
                        $(".modal-footer > button").addClass("disabled");
                        var jqxhr = $.ajax({
                            method: "POST",
                            url: $editTarget.attr("data-action"),
                            data: JSON.stringify($image.cropper("getData")),
                            beforeSend: function (xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", $editTarget.attr("data-data"));
                            }
                        })
                            .done(function (response) {
                                var that = $("#fileupload");
                                that.fileupload('option', 'done')
                                    .call(that,
                                        $.Event('done'),
                                        {
                                            result: {files:[response.file]},
                                            context: $editTarget.closest(".template-download")
                                        });

                                crpMsg(true, gettext('Done!'));
                                setTimeout(function () {
                                    $('#editPopup').modal('hide');
                                }, 2000);
                                that.trigger("file_edited");
                            })
                            .fail(function (response) {
                                var msg = gettext('Failed!') + " " + response.responseJSON.message;
                                crpMsg(false, msg);
                                setTimeout(function () {
                                    $('#editPopup').modal('hide');
                                }, 2000);
                            });
                        return false;
                    });

                    $('.btn-crp-reset').click(function () {
                        $image.cropper('reset');
                        $('.btn-crp-submit').addClass("disabled");
                        $('.btn-crp-reset').addClass("disabled");
                    });

                })
                .on('hidden.bs.modal', function () {
                    $(".relate-save-button").removeClass('disabled');
                    $image.cropper('destroy');
                    $(this).html(modal_html);
                    $('#preview').addClass("hidden").html("");
                })
                .on('show.bs.modal', function (e) {
                    // Enable back button to close modal and blueimp gallery
                    // http://stackoverflow.com/a/40364619/3437454
                    if (getWidthQueryMatch_md_sm_xs()) window.history.pushState('forward', null, '#edit');
                })
                .on('hide.bs.modal', function (e) {
                    if (location.hash === '#edit' && getWidthQueryMatch_md_sm_xs()) window.history.back();
                });

            $(window).on('popstate', function (event) {  //pressed back button
                if (event.state !== null && getWidthQueryMatch_md_sm_xs()) {
                    var gallery = $('#blueimp-gallery').data('gallery');
                    if (gallery) {
                        gallery.close();
                    }
                    else {
                        $('.modal').modal('hide');
                    }
                }
            });
        });


        function activate_change_listening() {
            var input_changed = false;

            var starting_pk;

            var sortableChangeCausal = true;
            function on_input_change(evt, data) {
                if(!sortableChangeCausal){
                    input_changed = true;
                    return
                }
                if(!data || evt.type !== "sortstop"){
                    input_changed = true;
                    sortableChangeCausal = false;
                    return
                }
                input_changed = JSON.stringify(data) !== JSON.stringify(starting_pk);
            }

            $("#fileupload").fileupload("option", "filesContainer")
                .sortable({
                    delay: 500,
                    handle: ".imageSortableHandle",
                    scrollSpeed: 40,
{#                    scrollSensitivity: 0,#}
                    helper: "clone",
                    axis: "y",
                    opacity: 0.9,
                    cursor: "move",
                    // cursorAt: { bottom: 0},
                    activate: function () {
                        // $(controlElement).addClass("hidden");
                        // $('.imageSortableHandle').removeClass("hidden");
                    },
                    deactivate: function () {
                        // $(controlElement).removeClass("hidden");
                        // $('.imageSortableHandle').addClass("hidden");
                    },
                    start: function(e, ui){
                    },
                    stop: function(e, ui) {
                        if ( window.location.pathname.indexOf("/grading/") === -1)
                        {on_input_change(e, get_all_pks($("#fileupload")));}
                    }
                });

                var all_pks = [];
                $("#fileupload").fileupload("option", "filesContainer")
                    .children().not('.processing')
                    .each(function(){
                        all_pks.push($(this).attr("data-file-pk"));
                    });

            $(":file").on("change", on_input_change);
            $(window).on('beforeunload',
                function () {
                    if (input_changed)
                        return "{% trans 'You have unsaved changes on this page.' %}";
                });

            $('#img-presentation-table').children("tbody").on("sortchange", on_input_change);

            $('#fileupload').on("fileuploadexistingloaded", function(){

                })
                .on("fileuploadloadingexistalways", function () {
                })
                .on("file_edited fileuploaddestroyed", on_input_change)
                .on("fileuploadcompleted fileuploaddestroyed", function () {
                    var downloadPkArray = get_all_pks($(this)),
                        n_downloadPk = downloadPkArray.length;
                    disable_fileupload_control_delete_toggle(!n_downloadPk, $(this));
                    toggle_fileupload_control_delete($(this));
                    if(!starting_pk){
                        starting_pk = get_all_pks($("#fileupload"));}
                    if (n_downloadPk > 1) {
                        $(this).find('.imageSortableHandle').removeClass("hidden");
                    } else {
                        $(this).find('.imageSortableHandle').addClass("hidden");
                    }
                })
                .on("fileuploadadd", function (e, data) {
                    disable_submit_button(true);
                    hide_fileupload_control_button($(this), false);
                })
                .on("fileuploadadded", function (e, data) {
                    // hide_fileupload_control_button(false);
                })
                .on("fileuploadcompleted", function (e, data) {
                })
                .on("fileuploaddestroyed", function (e, data){
                    toggle_fileupload_control_delete($(this));
                })
                .on("fileuploadfailed fileuploadcompleted fileuploaddestroyed", function () {
                    var queue_length = $(this).find('.template-upload').length;
                    disable_submit_button(queue_length > 0);
                    hide_fileupload_control_button($(this), !queue_length);
                    toggle_fileupload_control_delete($(this));
                })
                .on('fileuploadprocessstart', function () {
                    // console.log('processstart');
                })
                .on('fileuploadprocessalways', function (e, data) {
                });

            $('body').on('change', '#fileupload input[type="checkbox"]', function (e) {
{#                e.preventDefault();#}
{#                e.stopPropagation();#}
                toggle_fileupload_control_delete($("#fileupload"));
            });

            function before_submit(evt) {
                input_changed = false;

                // We can't simply set "disabled" on the submitting button here.
                // Otherwise the browser will simply remove that button from the POST
                // data.

                $(".relate-save-button").each(
                    function () {
                        var clone = $(this).clone();
                        $(clone).attr("disabled", "1");
                        $(this).after(clone);
                        $(this).hide();
                    });
            }

            $(".relate-interaction-container form").on("submit", before_submit);
        }

        $(document).ready(activate_change_listening);

    </script>
    {# % if IN_GRADE_PAGE % #}
    <script src="{% static "ez-plus/src/jquery.ez-plus.js" %} "></script>
    <script>

        function magnify(x) {
            $(x).ezPlus({
            zoomType: 'inner',
            cursor: 'crosshair'});
        };

        $(document).ready(function () {
            var pre = $('.latexpage-error pre'),
                pl = pre.length;
            for (var i = 0; i < pl; i++) {
                pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';
                var num = pre[i].innerHTML.split(/\n/).length;
                for (var j = 0; j < num; j++) {
                    var line_num = pre[i].getElementsByTagName('span')[0];
                    line_num.innerHTML += '<span>' + (j + 1) + '</span>';
                }
            }
        });

        function printtime(s) {
            console.log(s + new Date());
        }

    </script>
    {# % endif % #}

    <script>
{#    $.blueimp.fileupload.prototype.options.done.call(that, e, data);#}
{#    static/blueimp-file-upload/js/jquery.fileupload-ui.js:188#}
    </script>
{% endblock %}

{% block JS_UPLOAD_TEMPLATE %}{% endblock %}
{% block JS_DOWNLOAD_TEMPLATE %}{% endblock %}