{% load relate_jfutags %}
{% load i18n %}

{% if in_sandbox %}
  {% jfu 'image_upload/imgupload-page-config.html' course_identifier=course_identifier %}
{% else %}
  {% jfu 'image_upload/imgupload-page-config.html' course_identifier=course_identifier flow_session_id=flow_session_id page_ordinal=page_ordinal %}
{% endif %}

    <div>
        <form class="form-horizontal" method="post" style="padding-bottom: 0">
            <input type="hidden" name="csrfmiddlewaretoken" value={{ csrf_token }}>
            <div id="div_id_hidden_answer" class="form-group" style="margin: 0">
            </div>
            <div class="form-group">
                <div class="aab controls col-lg-2"></div>
                <div class="controls col-lg-8" id="actual-submit-div"></div>
            </div>
        </form>
    </div>

