{% load i18n %}
{% csrf_token %}
{# Redirect browsers with JavaScript disabled to the origin page #}
<noscript>
    <input type="hidden" name="redirect" value="{{ request.path }}"> </noscript>

{% if IS_COURSE_STAFF or MAY_CHANGE_ANSWER %}
{% block UPLOAD_FORM_BUTTON_BAR %}
    <div class="row fileupload-buttonbar">
        {# The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload #}

        <div class="col-lg-7">
            {# The fileinput-button span is used to style the file input field as button #}
            {% block UPLOAD_FORM_BUTTON_BAR_ADD %}
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>{% trans "Add files..." %}</span>
                    {% block UPLOAD_FORM_BUTTON_BAR_ADD_FILE_INPUT %}
                        {% comment %}
                            UPLOAD_FORM_BUTTON_BAR_ADD_FILE_INPUT and FILE_INPUT
                            control the same block. 

                            FILE_INPUT is the original and shorter block name that has
                            been kept to function as a convenient alias as well as to
                            allow backward-compatibility with dependent projects. 

                            Note: Only one should be overriden in the inheriting templates.
                        {% endcomment %}
                            {% block FILE_INPUT %}
                                {# The file input for the upload form. #}
                                <input type="file" name="file" multiple 
                                    {% if accepted_mime_types %}
                                        accept='{{ accepted_mime_types|join:"," }}'
                                    {% endif %}
                                >
                            {% endblock %}{# //FILE_INPUT #}
                    {% endblock %}{# //block UPLOAD_FORM_BUTTON_BAR_ADD_FILE_INPUT #}

                </span>

                {% block UPLOAD_FORM_BUTTON_BAR_ADD_EXTRA %}
                {% endblock %}{# //UPLOAD_FORM_BUTTON_BAR_ADD_EXTRA #}
            {% endblock %}{# //block UPLOAD_FORM_BUTTON_BAR_ADD #}

            {% block UPLOAD_FORM_BUTTON_BAR_CONTROL %}
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>{% trans "Start upload" %}</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>{% trans "Cancel upload" %}</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>{% trans "Delete" %}</span>
                </button>
                <input type="checkbox" class="toggle">
            {% endblock %}{# //UPLOAD_FORM_BUTTON_BAR_CONTROL #}
            {% if IS_COURSE_STAFF or MAY_CHANGE_ANSWER  %}
            {% block UPLOAD_FORM_BUTTON_BAR_EXTRA %}
                <button type="button" class="btn btn-success btn-srt-tbl" style="float:right;">
                    <i class="fa fa-sort"></i>
                    <span>{% trans "Sort" %}</span>
                </button>
                <button type="button" class="btn btn-primary btn-srt-tbl-cfm hidden" style="float:right;">
                    <i class="fa fa-sort"></i>
                    <span>{% trans "Done" %}</span>
                </button>
                <span id="srt_prgrs" style="float:right; padding-right: 15px"></span>
            {% endblock %}{# //UPLOAD_FORM_BUTTON_BAR_EXTRA #}
            {% endif %}

        </div>

        {% block UPLOAD_FORM_PROGRESS_BAR %}
            {# The global progress information #}
            <div class="col-lg-5 fileupload-progress fade">
                {# The global progress bar #}
                    <div 
                        class="progress progress-striped active" 
                        role="progressbar" 
                        aria-valuemin="0" aria-valuemax="100"
                    >
                    <div class="progress-bar progress-bar-success" style="width:0%;">
                    </div>
                </div>
                {# The extended global progress information #}
                <div class="progress-extended">&nbsp;</div>
            </div>
        {% endblock %}
    </div>
{% endblock %}{# //UPLOAD_FORM_BUTTON_BAR #}
{% endif %}

{# The loading indicator is shown during file processing #}
{% block UPLOAD_FORM_LINDICATOR %}
    <div class="fileupload-loading"></div>
    <br>
{% endblock %}{# //UPLOAD_FORM_LINDICATOR #}

{% block UPLOAD_FORM_LISTING %}
    {# The table listing the files available for upload/download #}
    <table role="presentation" class="table table-striped">
        <tbody class="files"></tbody>
    </table>
{% endblock %}{# //UPLOAD_FORM_LISTING #}

{% block UPLOAD_FORM_EXTRA %} {% endblock %}

{% block JS_UPLOAD_TEMPLATE %}
    <script id="template-upload" type="text/x-tmpl">
        {{ JQ_OPEN }} for (var i=0, file; file=o.files[i]; i++) { {{ JQ_CLOSE }}

            <tr class="template-upload fade">

                {% block JS_UPLOAD_TEMPLATE_PREVIEW %}
                    <td>
                        <span class="preview"></span>
                    </td>
                {% endblock %}{# // JS_UPLOAD_TEMPLATE_PREVIEW #}

                {% block JS_UPLOAD_TEMPLATE_UPLOAD %}
                    <td>
                        <p class="name">{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}</p>
                        <strong class="error text-danger"></strong>
                    </td>
                {% endblock %}{# //JS_UPLOAD_TEMPLATE_UPLOAD #}

                {% block JS_UPLOAD_TEMPLATE_PROGRESSBAR %}
                    <td>
                        <p class="size">Processing...</p>
                        <div class="progress progress-striped active" role="progressbar"
                            aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                    </td>
                {% endblock %}{# //JS_UPLOAD_TEMPLATE_PROGRESSBAR #}

                {% block JS_UPLOAD_TEMPLATE_CONTROLS %}
                    <td>
                        {% block JS_UPLOAD_TEMPLATE_START %}
                            {{ JQ_OPEN }} if (!i && !o.options.autoUpload) { {{ JQ_CLOSE }}
                                <button class="btn btn-primary start" disabled>
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{% trans "Start" %}</span>
                                </button>
                            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                        {% endblock %}{# //block JS_UPLOAD_TEMPLATE_START #}

                        {% block JS_UPLOAD_TEMPLATE_CANCEL %}
                            {{ JQ_OPEN }} if (!i) { {{ JQ_CLOSE }}
                                <button class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>{% trans "Cancel" %}</span>
                                </button>
                            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                        {% endblock %}{# //JS_UPLOAD_TEMPLATE_CANCEL #}
                    </td>
                {% endblock %}{# //JS_UPLOAD_TEMPLATE_CONTROLS #}

            </tr>

        {{ JQ_OPEN }} } {{ JQ_CLOSE }}
    </script>
{% endblock %}{# //JS_UPLOAD_TEMPLATE #}


{% block JS_DOWNLOAD_TEMPLATE %}
    {# The template to display files available for download #}
    <script id="template-download" type="text/x-tmpl">
        {{ JQ_OPEN }} for (var i=0, file; file=o.files[i]; i++) { {{ JQ_CLOSE }}

            <tr class="template-download fade"
                data-order=
                    '{
                        "pk":{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }},
                        "old_ord":{{ JQ_OPEN }}=file.order{{ JQ_CLOSE }},
                        "new_ord":""
                        }'>

                {% block JS_DOWNLOAD_TEMPLATE_PREVIEW %}
                    <td>
                        <span class="preview">
                            {{ JQ_OPEN }} if (file.thumbnailUrl) { {{ JQ_CLOSE }}
                                <a 
                                    href="{{ JQ_OPEN }}=file.url{{ JQ_CLOSE }}"
                                    title="{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}"
                                    download="{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}"
                                    id="previewid{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                                    data-gallery>
                                    <img
                                       id="thumbnail{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                                        src="{{ JQ_OPEN }}=file.thumbnailUrl{{ JQ_CLOSE }}"
                                    >
                                </a>
                            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                        </span>
                    </td>
                {% endblock %}{# //JS_DOWNLOAD_TEMPLATE_PREVIEW #}

                {% block JS_DOWNLOAD_TEMPLATE_DOWNLOAD %}
                    <td>
                        <p class="name">
                            {{ JQ_OPEN }} if (file.url) { {{ JQ_CLOSE }}
                                <a 
                                    href="{{ JQ_OPEN }}=file.url{{ JQ_CLOSE }}"
                                    title="{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}"
                                    download="{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}"
                                    {{ JQ_OPEN }}=file.thumbnailUrl? 'data-gallery': ''{{ JQ_CLOSE }}
                                    id="filename{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                                >
                                    {{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}
                                </a>
                            {{ JQ_OPEN }} } else { {{ JQ_CLOSE }}
                                <span>
                                    {{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}
                                </span>
                            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                        </p>

                        {% block JS_DOWNLOAD_TEMPLATE_ERROR %}
                            {{ JQ_OPEN }} if (file.error) { {{ JQ_CLOSE }}
                                <div>
                                    <span
                                        class="label label-danger"
                                    >
                                        {% trans "Error" %}
                                    </span>
                                    {{ JQ_OPEN }}=file.error{{ JQ_CLOSE }}
                                </div>
                            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                        {% endblock %}{# //block JS_DOWNLOAD_TEMPLATE_ERROR #}
                    </td>

                {% endblock %}{# block JS_DOWNLOAD_TEMPLATE_DOWNLOAD #}

                {% if SHOW_CREATION_TIME %}
                    {% block JS_DOWNLOAD_TEMPLATE_TIME %}
                        <td class="td-dl">
                            <span
                                class="timestr"
                                id="filetime{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                                title="{{ JQ_OPEN }}=file.timestr_title{{ JQ_CLOSE }}"
                            >
                                {{ JQ_OPEN }}=file.timestr_short{{ JQ_CLOSE }}
                            </span>
                        </td>
                    {% endblock %}{# block JS_DOWNLOAD_TEMPLATE_TIME #}
                {% endif %}
                    {% if IS_COURSE_STAFF or MAY_CHANGE_ANSWER %}
                    {% block JS_DOWNLOAD_SORT %}
                        <td class="td-srt hidden">
                            <a
                                class="button btn btn-success btn-srt up"
                                id="sort-up{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                            >
                                <i class="fa fa-arrow-up"></i>
                            </a>
                            <a
                                class="button btn btn-success btn-srt down"
                                id="sort-down{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                            >
                                <i class="fa fa-arrow-down"></i>
                            </a>
                            <a
                                class="button btn btn-success btn-srt top"
                                id="sort-down{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                            >
                                <i class="fa fa-step-forward fa-rotate-270"></i>
                            </a>
                        </td>
                    {% endblock %}{# block JS_DOWNLOAD_SORT #}
                    {% endif %}

                {% block JS_DOWNLOAD_TEMPLATE_FSIZE %}
                    <td class="td-dl">
                        <span
                            class="size"
                            id="filesize{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                        >{{ JQ_OPEN }}=o.formatFileSize(file.size){{ JQ_CLOSE }}</span>
                    </td>
                {% endblock %}{# //JS_DOWNLOAD_TEMPLATE_FSIZE #}

                <td class="td-dl">
                        {{ JQ_OPEN }} if (file.deleteUrl) { {{ JQ_CLOSE }}
                        {% if IS_COURSE_STAFF %}
                        {% block JS_DOWNLOAD_TEMPLATE_EDIT %}
                            {% if IS_COURSE_STAFF %}
                                {% block COPY_IMAGE_DATA %}
                                {{ JQ_OPEN }} if (file.image_data_dict) { {{ JQ_CLOSE }}
                                        <a
                                            class="btn-data-copy"
                                            data-clipboard-text="{{ JQ_OPEN }}=file.image_data_dict{{ JQ_CLOSE }}"
                                        >
                                            <i class="fa fa-clipboard" aria-hidden="true"></i></a>
                                {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                                {{ JQ_OPEN }} if (file.imageAdminUrl) { {{ JQ_CLOSE }}
                                        <a
                                            href={{ JQ_OPEN }}=file.imageAdminUrl{{ JQ_CLOSE }}
                                            target='_blank'
                                        >
                                            <i class="fa fa-user"></i></a>
                                {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                                {% endblock %}{# block COPY_IMAGE_DATA #}
                            {% endif %}
                            <a 
                                class="btn btn-success btn-edit-image"
                                data-toggle="modal"
                                href="{{ JQ_OPEN }}=file.updateUrl{{ JQ_CLOSE }}"
                                data-target="#modal"
                            >
                                <i class="fa fa-pencil"></i>
                                <span>{% trans "Edit" %}</span>
                            </a>
                        {% endblock %}{# //block JS_DOWNLOAD_TEMPLATE_EDIT #}
                        {% endif %}
                        {% block JS_DOWNLOAD_TEMPLATE_DELETE %}
                            <button
                                class="btn btn-danger delete"
                                data-type="{{ JQ_OPEN }}=file.deleteType{{ JQ_CLOSE }}"
                                data-data='{ "csrfmiddlewaretoken" : "{{ csrf_token }}" }'
                                data-url="{{ JQ_OPEN }}=file.deleteUrl{{ JQ_CLOSE }}"
                                {{ JQ_OPEN }} if (file.deleteWithCredentials) { {{ JQ_CLOSE }}
                                    data-xhr-fields='{"withCredentials":true}'
                                {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                            >
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>{% trans "Delete" %}</span>
                            </button>
                            <input type="checkbox" name="delete" value="1" class="toggle">
                        {{ JQ_OPEN }} } else { {{ JQ_CLOSE }}
                            <button class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>{% trans "Cancel" %}</span>
                            </button>
                        {% endblock %}{# //block JS_DOWNLOAD_TEMPLATE_DELETE #}
                        {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                </td>

            </tr>
        {{ JQ_OPEN }} } {{ JQ_CLOSE }}
    </script>
{% endblock %}