{% extends "image_upload/upload-form.html" %}
{% load i18n %}

{% block UPLOAD_FORM_BUTTON_BAR %}
    {% if IN_GRADE_PAGE %}
    {% elif MAY_CHANGE_ANSWER or IS_COURSE_STAFF %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block JS_UPLOAD_TEMPLATE_CONTROLS %}
    <td  class="hidden-sm hidden-xs">
        {{ JQ_OPEN }} if (!i) { {{ JQ_CLOSE }}
        <button class="btn btn-info edit" disabled type="button">
            <i class="glyphicon glyphicon-edit"></i>
            <span>{% trans "Edit" %}</span>
        </button>
        {{ JQ_OPEN }} } {{ JQ_CLOSE }}
    </td>
    {{ block.super }}
{% endblock %}

{% block JS_UPLOAD_TEMPLATE_EXTRA_COLUMN %}
    <td  class="hidden-lg hidden-md col-sm-1 col-xs-1">
        {{ JQ_OPEN }} if (!i) { {{ JQ_CLOSE }}
        <button class="btn btn-info edit" disabled type="button">
            <i class="glyphicon glyphicon-edit"></i>
            <span>{% trans "Edit" %}</span>
        </button>
        {{ JQ_OPEN }} } {{ JQ_CLOSE }}
    </td>
    {% if IS_COURSE_STAFF or MAY_CHANGE_ANSWER %}
        <td class="imageSortableHandle hidden
        {% if not IN_GRADE_PAGE %}
            col-lg-2 col-md-2 col-sm-1 col-xs-1
         {% endif %}"
             style="vertical-align: middle;"
            >
                <span title="{% trans 'Drag to order' %}">
                    <i class="fa fa-sort fa-3" aria-hidden="true"></i>
                </span>
        </td>
    {% endif %}
{% endblock %}{# //JS_UPLOAD_TEMPLATE_EXTRA_COLUMN #}

{% block JS_DOWNLOAD_TEMPLATE_PREVIEW %}
    <td
            {% if not IN_GRADE_PAGE %}
                class="col-lg-2 col-sm-3 col-xs-3"
                style="width:29.166666655%"
            {% endif %}
    >
        <span class="preview processing">
            {{ JQ_OPEN }} if (file.thumbnailUrl) { {{ JQ_CLOSE }}
                <a
                        href="{{ JQ_OPEN }}=file.url{{ JQ_CLOSE }}"
                        title="{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}"
                        download="{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}"
                        data-gallery>
                        <img class="img-responsive"
                                {% if IN_GRADE_PAGE %}
                             src="{{ JQ_OPEN }}=file.url{{ JQ_CLOSE }}"
                             onmouseover="magnify(this)"
                             data-zoom-image="{{ JQ_OPEN }}=file.url{{ JQ_CLOSE }}"
                                {% else %}
                             src="{{ JQ_OPEN }}=file.thumbnailUrl{{ JQ_CLOSE }}"
                                {% endif %}
                        >
                </a>
            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
        </span>
    </td>
{% endblock %}{# //JS_DOWNLOAD_TEMPLATE_PREVIEW #}

{% block JS_DOWNLOAD_TEMPLATE_DOWNLOAD %}
    {% if not IN_GRADE_PAGE %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block JS_DOWNLOAD_TEMPLATE_EXTRA_INFO_COLUMN %}
    {% if SHOW_CREATION_TIME and not IN_GRADE_PAGE %}
        <td class="col-lg-3 hidden-sm hidden-xs">
            <span
                    class="timestr"
                    id="filetime{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                    title="{{ JQ_OPEN }}=file.timestr_title{{ JQ_CLOSE }}"
            >
                {{ JQ_OPEN }}=file.timestr_short{{ JQ_CLOSE }}
            </span>
        </td>
    {% endif %}
{% endblock %}{# //JS_DOWNLOAD_TEMPLATE_EXTRA_INFO_COLUMN #}


{% block JS_DOWNLOAD_TEMPLATE_FSIZE %}
    {% if not IN_GRADE_PAGE %}
        {{ block.super }}
    {% endif %}
{% endblock %}{# //JS_DOWNLOAD_TEMPLATE_FSIZE #}

{% block JS_DOWNLOAD_TEMPLATE_CONTROL_BUTTONS %}
    <td
            {% if not IN_GRADE_PAGE %}
                class="col-lg-3 col-sm-3 col-xs-"
                style="width:29.166666655%"
            {% else %}
            {% endif %}
    >
    {% if IS_COURSE_STAFF or MAY_CHANGE_ANSWER %}
        {% block COPY_IMAGE_DATA %}
            {% if IS_COURSE_STAFF and SHOW_COPY_IMAGE_DATA %}
                {# 只有在设计问题时才有用 #}
                {{ JQ_OPEN }} if (file.image_data_dict) { {{ JQ_CLOSE }}
                <a class="btn-data-copy"
                   data-clipboard-text="{{ JQ_OPEN }}=file.image_data_dict{{ JQ_CLOSE }}"
                >
                    <i class="fa fa-clipboard" aria-hidden="true"></i></a>
                {{ JQ_OPEN }} } {{ JQ_CLOSE }}
                {{ JQ_OPEN }} if (file.imageAdminUrl) { {{ JQ_CLOSE }}
                <a
                        href={{ JQ_OPEN }}=file.imageAdminUrl{{ JQ_CLOSE }}
                        target='_blank'
                >
                    <i class="fa fa-user"></i></a>
                {{ JQ_OPEN }} } {{ JQ_CLOSE }}
            {% endif %}
        {% endblock %}{# //COPY_IMAGE_DATA #}
        <button
                class="btn btn-info btn-control edit"
                type="button"
                data-toggle="modal"
                data-action="{{ JQ_OPEN }}=file.crop_handler_url{{ JQ_CLOSE }}"
                data-src="{{ JQ_OPEN }}=file.url{{ JQ_CLOSE }}"
                data-pk="{{ JQ_OPEN }}=file.pk{{ JQ_CLOSE }}"
                data-data="{{ csrf_token }}"
{#                data-target="#editModal"#}
                {% if IN_GRADE_PAGE %}
                    style="z-index: 5000;"
                {% endif %}
        >
            <i class="glyphicon glyphicon-edit"></i>
            {% if not IN_GRADE_PAGE %}
                <span>{% trans "Edit" %}</span>
            {% endif %}
        </button>
    {% endif %}
    {% block JS_DOWNLOAD_TEMPLATE_CONTROL_BUTTONS_DELETE %}
        {% if IN_GRADE_PAGE %}
        {% elif IS_COURSE_STAFF or MAY_CHANGE_ANSWER %}
            {{ block.super }}
        {% endif %}
    {% endblock %}
{% endblock %}{# // JS_DOWNLOAD_TEMPLATE_CONTROL_BUTTONS #}

{% block JS_DOWNLOAD_TEMPLATE_EXTRA_COLUMN %}
    {% if IS_COURSE_STAFF or MAY_CHANGE_ANSWER %}
        <td class="imageSortableHandle hidden
        {% if not IN_GRADE_PAGE %}
            col-lg-2 col-md-2 col-sm-1 col-xs-1
         {% endif %}"
             style="vertical-align: middle;"
            >
                <span title="{% trans 'Drag to order' %}">
                    <i class="fa fa-sort fa-3" aria-hidden="true"></i>
                </span>
        </td>
    {% endif %}
{% endblock %}{# //JS_DOWNLOAD_TEMPLATE_EXTRA_COLUMN #}

{% block UPLOAD_FORM_EXTRA %}
{# editModal #}
<div class="modal fade" id="editModal" role="dialog" aria-labelledby="modalLabel"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header visible-lg">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">{% trans "Edit image" %}</h4>
                <!--[if lt IE 9]>
                    <div class="browser alert alert-danger warning"><i class="fa fa-warning"></i> {% trans "This page requires a modern browser so that it can work properly" %}. {% trans "Chrome/Firefox are prefered browsers. If you want use Internet Explorer, please install one with version higher than 10." %}</div>
                <![endif]-->
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <img class="img-responsive" id="image" src="" alt="" data-ajax-url="">
                </div>
            </div>
            <div class="modal-footer">
                <div id="crp-result"></div>
                <div class="btns">
                    <div class="btn-group cropper-btns">
                        <div class="btn-group cropper-rotate-btns">
                            <button type="button" class="btn btn-primary" disabled
                                    data-method="rotate" data-option="-90">
                                <i class="fa fa-rotate-left"></i>
                                <span>90&deg;</span>
                            </button>
                            <button type="button" class="btn btn-primary" disabled
                                    data-method="rotate" data-option="90">
                                <i class="fa fa-rotate-right"></i>
                                <span>90&deg;</span>
                            </button>
                            {% if ALLOW_ROTATE_TUNE %}
                            <button type="button"
                                    class="btn btn-primary" disabled
                                    data-method="rotate" data-option="-0.5">
                                <i class="fa fa-reply"></i>
                                <span>0.5&deg;</span>
                            </button>
                            <button type="button"
                                    class="btn btn-primary" disabled
                                    data-method="rotate" data-option="0.5">
                                <i class="fa fa-share"></i>
                                <span>0.5&deg;</span>
                            </button>
                        {% endif %}
                        </div>
                        <div class="btn-group cropper-status-btns">
                        <button type="button"
                                class="btn btn-success" disabled
                                data-method="commit">
                            <i class="fa fa-check"></i>
                            <span>{% trans "Submit" %}</span></button>
                        <button type="button"
                                class="btn btn-warning" disabled
                                data-method="reset">
                            <i class="fa fa-refresh"></i>
                            <span>{% trans "Reset" %}</span></button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger"
                                data-dismiss="modal">
                            <i class="fa fa-remove"></i>
                            <span>{% trans "Close" %}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>{# /editModal #}

{% endblock %}
